[2021-12-02 16:35] sinclr4 opened #1 "[Feature Request] - Load Test with CSV input"
**Is your feature request related to a problem? Please describe.**
I need to be able to run a perf test with a CSV input. Although this is in the Test Configuration YAML, it's not clear how to do this. I receive an error 'File Path not allowed in Test Plan CSVDataSet Config'

**Describe the solution you'd like**
Could you provide an example with includes a CSV input to a test.

[2021-12-02 17:14] ShadowPic opened #2 "[Feature Request]-Ability to update existing jmeter script"
**Is your feature request related to a problem? Please describe.**
It is frustrating that I have to create a new test every time I have an update to an existing jmeter script.  I don't want to have to enter the pass/fail criteria and select the azure resource(s) be monitored over and over again.

**Describe the solution you'd like**
Ability to upload a replacement for the current jmeter script but

[2021-12-02 17:17] ShadowPic commented on #2
sorry i just found out how to do this.

[2021-12-02 17:17] #2 closed

[2021-12-02 22:13] anevjes opened #3 "Support for vnet integration for load testing apps sitting on private ip range"
Please provide support for load testing azure resources sitting behind private ips.

[2021-12-03 03:39] damienpontifex opened #4 "[Feature Request] Publish service tag to allow load testing through NSG"
**Is your feature request related to a problem? Please describe.**

When running a script, all traffic is blocked because it's coming from unknown IPs. We would like to be able to allow load testing through the NSGs via a service tag such that traffic can pass through from load testing without needing to open up all IPs for incoming traffic

**Describe the solution you'd like**
Publish a Service T

[2021-12-03 06:54] kaumishra commented on #1
Hi @sinclr4 Thanks for trying out the service. You can use the CSV by referencing it as a file name instead of a fully qualified path in the JMX file and upload it along with the JMX script. Thanks for the feedback on the docs and sample. We are working to get those added.

[2021-12-03 09:08] sinclr4 commented on #1
Thank you!

[2021-12-03 09:08] #1 closed

[2021-12-03 13:48] szymonlngr opened #5 "[BUG] jdbc connection"
**Describe the bug**
Trying to call sql queries in SQL DB on VM (whitelisted IPs) but cannot

**Error**
,java.sql.SQLException: Cannot load JDBC driver class 'com.microsoft.sqlserver.jdbc.SQLServerDriver',172.18.59.5

**Expected behavior**
on Desktop jmeter it works fine

**Additional context**
Do workers have jdbc driver? or there should be different syntax to connect to DB?

[2021-12-06 07:58] johnsta commented on #3
Thank you @anevjes for the feature suggestion. We are actively working on a solution that will enable load testing private endpoints. We don't have an estimated availability date yet, but we will update this thread as soon as we have more news to share.

[2021-12-06 08:15] johnsta commented on #4
We are actively working on how best to enable load testing private endpoints. My understanding is one drawback of enabling this via Service Tags is that it would allow traffic generated from *ANY* test running in Azure Load Testing to reach your application's API.

An alternative option under consideration is the ability for your specific test to **generate traffic from dedicated IPs**, so only th

[2021-12-06 08:21] johnsta commented on #5
Hi @szymonlngr, thank you for raising this scenario. The product team is looking at this issue and will respond with more information soon.

[2021-12-06 08:28] johnsta commented on #2
No worries, @ShadowPic - thanks for raising the issue nonetheless, and glad you were able to figure it out.

For others who are wondering how to do this:
1. In the Azure Portal, navigate to the test you wish to edit.
2. In the command bar, select **Configure**, then select **Test**.
![image](https://user-images.githubusercontent.com/12104064/144812424-2a3823ba-74c6-4331-b63a-c254cf608e5b.png)

3.

[2021-12-06 08:42] damienpontifex commented on #4
Deployed within the VNet would definitely be the most effective for us...being able to test private endpoints without needing to open up the NSG.

I proposed service tags here only as I assumed it might be the quickest to enable 🤷🏻 and get testing a deployment that sits in a vnet. Saying that, vnet deployment of the runners would be my preferred outcome if that is on the table

We are doing someth

[2021-12-06 15:45] pjdf-git opened #6 "JSR223 and custom jar support"
Is there support for JSR223 scripts and custom jars?  If not now, is there a target date for such support?

[2021-12-07 06:03] kaumishra commented on #5
Hi @szymonlngr we currently do not support this scenario. However this is on our roadmap. I will update with a comment here once I have a timeline for it.

[2021-12-07 11:55] mkrconscius opened #7 "[BUG] Unable to create the Load Testing resource through the Portal."
**Describe the bug**
Cannot create the resource from the Portal. It seems to be a resource name validation issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://portal.azure.com/#create/Microsoft.CloudNativeTesting
2. Fill in any resource name. I've tried all lower case, all upper, no numbers, only numbers etc.
4. See error:
`Azure resource names cannot contain special charact

[2021-12-07 12:04] szymonlngr opened #8 "[BUG] Real pricing vs in docs"
I have created this resource for one day and ececuted one test (that would not last longer than few minutes. What I see in billing for it shows as:
![image](https://user-images.githubusercontent.com/61535281/145024566-b7c4f3a3-54bb-4bc7-97d6-3966f1300b33.png)

While in pricing it shows $10 per month:
https://azure.microsoft.com/en-us/pricing/details/load-testing/
![image](https://user-images.githu

[2021-12-07 14:50] felipe-allmeida commented on #7
I just faced this issue. It's kind of annoying haha.

@mkrconscius were u able to create trough the cli? Can you provide me the command if yes?

Thanks

[2021-12-07 15:23] kaumishra commented on #7
@felipe-allmeida  @mkrconscius  Thanks for reporting this.We are checking this currently. Will update here once we have a fix.

[2021-12-07 15:45] issacnitin commented on #7
@mkrconscius Microsoft product names are generally not allowed as resource names. So names such as visualstudio, windows are disallowed. I'm not sure if GitHub is disallowed as well, maybe the documentation is not updated. Will make sure to update the validation error message. Please create the resource with a different name

You can find the set of reserved words here: https://docs.microsoft.com/

[2021-12-07 15:51] krishna1s commented on #7
@felipe-allmeida @mkrconscius it should be working fine now (please do a page reload, if already opened ), feel free to reopen this ticket in case if it still doesn't work

[2021-12-07 15:51] #7 closed

[2021-12-07 18:22] mkrconscius commented on #7
@krishna1s It works now, thanks!

[2021-12-08 04:03] kaumishra commented on #6
Hi @pjdf-git we currently do not support this scenario. However this is on our roadmap. We do not have a timeline yet but I will share once we have something.

[2021-12-08 12:20] felipe-allmeida commented on #7
It is working! Thanks.

[2021-12-08 12:59] pjdf-git commented on #6
Thanks!

[2021-12-08 14:30] vid opened #9 "Use own testing tool instead of JUnit [Feature Request]"
**Is your feature request related to a problem? Please describe.**
JUnit is limited in what kinds of tests it can perform.

**Describe the solution you'd like**
I'd like to be able to plug in my own testing tool instead of JUnit, and otherwise take advantage of this solution.

[2021-12-09 14:27] kaumishra commented on #9
Hi @vid Did you mean JMeter instead of JUnit? Could you share the scenarios you are looking to test and the tool you use? I can check if there is a workaround using JMeter. I will add the feature request to our backlog, we don't have a strong opinion on this topic yet.

[2021-12-09 14:32] vid commented on #9
@kaumishra you're right,I meant JMeter, edited.
We are using a headless browser approach (with playwright). Of course it's more resource intensive, but lets us reuse our e2e tests and offers more opportunity for analysis. If we knew what statistics to emit and how to plug it into azure-load-testing, we can do the work to plug it in.
Thanks!

[2021-12-09 14:43] kaumishra commented on #9
@vid Thanks for sharing. That scenario is very interesting. I am adding @johnsta from our team to comment on this.

[2021-12-13 14:34] johnsta commented on #8
Hi @szymonlngr, sorry for the delay as we looked into this to confirm accuracy. What you are seeing is intended. The $10 charge (per load test resource) is emitted at the time the resource is created and is valid for the remainder of the month. Following that, the $10 charge will be emitted again on the first of the each month that the resource exists.

[2021-12-13 14:34] #8 closed

[2021-12-15 16:15] vid commented on #9
Hi @johnsta, anything we can do to help move this forward?

[2021-12-15 22:39] rashmipatil opened #10 "[Feature Request] Is there a way to load test Postman Newman Scripts / API tests ?"
[Feature Request] Is there a way to load test Postman Newman Scripts / API tests ? In our organisation we use Postman to test API functionality, it would be great if we can reuse those scripts to load test our api's rather than having to convert them to JMeter to make it work in Azure Load Testing Feature ..

[2021-12-16 05:38] pawarsum opened #11 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
Service Side Metrics are only available for Azure Application Components, what about application running on-premise or other clouds. To get the complete performance metrics, service side metrics is also one of the important measuring criteria  e.g resource utilization, deadlocks etc.

**Describe the solution you'd like**
An agent i

[2021-12-16 12:48] ninallam opened #12 "[BUG] Test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-16 12:49] #12 closed

[2021-12-16 12:50] ninallam opened #13 "[BUG] test issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-16 12:51] #13 closed

[2021-12-16 12:52] ninallam opened #14 "[BUG] test issue wit"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-16 12:54] #14 closed

[2021-12-16 12:55] ninallam opened #15 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-16 13:07] #15 closed

[2021-12-16 13:08] ninallam opened #16 "[BUG] Test 1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-16 13:11] #16 closed

[2021-12-16 13:11] ninallam opened #17 "[BUG] test 2"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-16 13:15] #17 closed

[2021-12-16 13:15] ninallam opened #18 "[BUG] test devdiv"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-16 13:16] #18 closed

[2021-12-16 13:20] ninallam opened #19 "[BUG] test issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-16 13:21] ninallam opened #20 "[BUG] test bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-16 13:26] #20 closed

[2021-12-16 13:27] #19 closed

[2021-12-16 14:18] ptjuanramos opened #22 "[Feature Request] Fragment files"
When creating a new test, we need to provide a JMX file in Test plan tab.
However, it seems that it's missing a crucial feature of JMeter, which is Fragments files, which helps, for example, developers and QA managers to modularize huge test files.

For example:

- I want to test a flow to obtain a user list in a authenticated dashboard by using "1-user-list.jmx" file.
- I have a fragment file to

[2021-12-17 05:49] ninallam opened #23 "[BUG] Test issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-17 05:50] ninallam commented on #23
Test comment

[2021-12-17 05:53] #23 closed

[2021-12-17 06:01] ninallam opened #24 "[BUG] test issue public"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-17 06:03] #24 closed

[2021-12-28 07:23] kaumishra commented on #22
Hi @ptjuanramos  Thanks for the feedback. I definitely agree that this is a crucial scenario. I have added this to our backlog. I will update here as soon as we have a timeline for this. Apologies for the delayed reply.

[2021-12-28 07:25] kaumishra commented on #11
Hi @pawarsum Thanks for sharing the feedback. This is a scenario where we have not put a lot of thought yet. I have added it to our backlog. Could you share, how you are testing this scenario currently?

[2021-12-28 07:27] kaumishra commented on #10
Hi @rashmipatil If I understood it correctly you would like to import an API collection and directly run on our service? This is a high priority item on our roadmap. Let me check on the timeline and get back.

[2021-12-28 08:31] rashmipatil commented on #10
Yes, I am looking at importing an API collection and running a load test on
the collection using azure load testing service. Glad to know it's a
priority, will you be able to inform me about the timeline of this
functionality? When are you planning on delivering it?

Thank you

On Tue, 28 Dec 2021, 6:27 pm kaumishra, ***@***.***> wrote:

[2021-12-28 18:37] WouterSlob opened #25 "__GetSecret seems not to work"
I've tried to use KeyVault icw Azure Load Testing, following the steps described at https://docs.microsoft.com/en-us/azure/load-testing/how-to-parameterize-load-tests#secrets, but the __GetSecret seems not to be working.

What I did was:
- Enabled the system assigned managed identity for my Load Testing resource
- Create a KeyVault with a secret
- Added the SMI to the KeyVault Access Policies with

[2021-12-30 08:14] Sachid26 commented on #25
Hi @WouterSlob .. thanks for reporting this and the detailed steps that you have done to enable authentication scenario. We are looking into this issue and will get back with some information soon.

[2022-01-03 05:30] ninallam commented on #25
@kusweta Can you please check this?

[2022-01-04 08:06] johnsta commented on #9
Hi @vid, we're still very early in our thinking here. I've followed up with you via email to see if we can set up a call to discuss more.

[2022-01-04 08:50] szymonlngr commented on #8
@johnsta I have removed my resource after few days, but after 1 month i got billed again. This certainly should not happen so I would say that it is some kind of Bug

[2022-01-04 09:12] ninallam commented on #25
Hi @WouterSlob, we have fixed the issue with GetSecret. Could you please try running your test now and confirm if this is working for you?

[2022-01-04 09:50] MonzT opened #26 "[Feature Request] Information Request - Range of IP's used by Azure Load Testing"
**Please describe.**
Currently looking at using Azure Load Testing with internal API's but would require a range of IP's to whitelist

**Describe the solution you'd like**
Would it be possible to get a range of IP's that Azure Load Testing uses?

[2022-01-04 14:24] WouterSlob commented on #25
Hi @ninallam, do I have to recreate my Azure Load Testing resource?

Because at the moment tests are not running at all anymore.
I've already tried to create a new test without __GetSecret and that one stays in status "Executing", but no requests are send at all.
After cancelling the test status stays in "Cancelling", although I got a "Test run stopped." confirmation in the portal.
Also

[2022-01-05 06:38] kusweta commented on #25
@issacnitin Can you please check this?

[2022-01-05 15:51] kaumishra commented on #26
Hi @MonzT Thanks for sharing your scenario. With our current solution, it would not be feasible for us to publish our IPs. We have shared our longer term plans around this ask in this [thread](https://github.com/microsoft/azure-load-testing/issues/4) . I am closing this issue in this thread so that we can consolidate all similar asks.

[2022-01-05 16:16] MonzT commented on #4
+1 for the vnet solution.

[2022-01-07 11:34] jometzg commented on #6
My customer has asked about custom plug-ins and how these may be supported. In the old ACI hosted JMeter load tester that is on GitHub, this allowed you to create a customised container for the load testing agents. Would this be a potential approach?

[2022-01-07 11:45] jometzg opened #27 "[BUG]"
**Describe the bug**
The Azure DevOps pipeline step that was installed from the marketplace fails to run

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new YAML pipeline in Azure DevOps
2. Add the Azure Load Test activity
3. Attempt to run the pipeline

**Expected behavior**
I expect the the load test to run in some manner.

**Screenshots**
![image](https://user-images.githubuserco

[2022-01-07 11:56] jometzg opened #28 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
The customer would like to be able to run tests annually and so be able to access all of the results from previous load test runs as a basis of comparison. This needs to include the load test results and the metrics from the system under test. The concern is that the metrics from the system under test will "age out".

**Describe th

[2022-01-07 13:12] tijmenamsing commented on #4
We also need this. VNet integration is preferred but service tag would also do.

[2022-01-07 13:59] jometzg opened #29 "[Feature Request] CLI or ARM template provisioning"
**Is your feature request related to a problem? Please describe.**
My customer wants to be able to automate the process of test creation and running so that a "standard set" of tests can be provisioned and run later.

**Describe the solution you'd like**
Test creation by an ARM template or through CLI calls.

**Describe alternatives you've considered**
I can see that there is a VS Code extension a

[2022-01-07 17:40] kaumishra commented on #28
Hi @jometzg Thanks for pointing this out. We will update our documentation. On the server side metrics, is the ask to export the snapshot of the metrics during the test duration?

[2022-01-07 18:12] jometzg commented on #28
Something that would allow them to either keep or export both sides - the load test results and the system under test metrics, so long term comparisons can be made.

[2022-01-10 05:11] ninallam commented on #27
@jometzg could you please confirm if you have assigned "Load Test Contributor" permissions to the service principal? [Here](https://docs.microsoft.com/en-us/azure/load-testing/tutorial-cicd-azure-pipelines#set-up-azure-pipelines-access-permissions-for-azure) are the steps that you could follow

[2022-01-10 05:25] ninallam commented on #29
@jometzg Thanks for reaching out. CLI support is planned for Azure Load Testing. Currently we support ARM template for resource creation and Azure Pipelines / GitHub actions for test creation. If you are using any of these tools, we recommend you to commit your test scripts to your repo so that they are version controlled. These can be run from the pipeline when required. Does this help with the c

[2022-01-10 08:55] WouterSlob commented on #25
@ninallam / @issacnitin : any update on this? Already tried re-creating the resource and that did not work. Also tests in another resource that used to work are not starting anymore.

[2022-01-11 08:34] namphuongtran opened #30 "[Feature Request] Azure load testing work with plugin"
When uploading JMeter script to test plan but in that script, we have to use some plugin.

For example:
- jmeter-parallel-0.11.jar
- jmeter-plugins-json-2.7.jar
Could you please tell me if there are any ways to do this or not?

Thank you

[2022-01-11 21:39] ravira24 opened #31 "Unable to upload Jmeter script"
**Describe the bug*
Unable to upload the Jmeter script(JMX script file), I noticed "Validation failed - Unable to validate JMX script" errors.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create tests under the Azure Load Testing' In the Test plan section, I am trying to upload JMX file, but I am noticing the Validation failed errors.
2. Please fine the attached screenshot for more

[2022-01-13 02:36] MonikaReddy-MSFT opened #32 "Azure Load TestinLoad Tests Return 'Not Applicable' Failed status despite showing as successful in Exported Result Files & AppInsights[BUG]"
Customer has raised an issue in Microsoft Q&A - https://docs.microsoft.com/en-us/answers/questions/684415/index.html

We are currently running a POC on the new Azure Load Testing feature (currently in preview) as a resource to run our jMeter tests against an in development API.

Unfortunately we are hitting a few problems with the output results displayed within a test run, namely the tests always

[2022-01-13 06:57] ninallam commented on #25
Hi @WouterSlob could you please check if you are still facing this issue?

[2022-01-13 14:57] WouterSlob opened #33 "[BUG] JSR223PreProcessor hangs execution"
**Describe the bug**
It seems like tests are failing when a JSR223PreProcessor with a groovy isused.

**To Reproduce**
Run this test script, containing two steps:

1. SetServerNameViaJSR223, which puts a url in the vars.
2. GET Google, which performs a GET on the url defined in the vars.

[code]

When running the test it stays in status "Executing".
When stopping the test it stays in status "Cance

[2022-01-13 15:00] WouterSlob commented on #25
I've created #33 for the problems with execution. I'll try to test __GetSecret in a different way.

[2022-01-13 15:35] WouterSlob commented on #25
__GetSecret works now. Thnx!

[2022-01-13 15:35] #25 closed

[2022-01-13 22:31] ravira24 commented on #31
Hi Team,
Thanks for the support, Now I am able to upload my JMX file without any issues.
Thanks,
Ravi

[2022-01-17 06:40] #31 closed

[2022-01-17 06:43] kaumishra commented on #30
Hi @namphuongtran Currently we support plugins from https://jmeter-plugins.org/ only. To use plugins from there no additional changes are required to your JMX script. We do not support plugins from other sources currently but it is in our roadmap.

[2022-01-17 09:12] agrawalamit31 opened #34 "[BUG] test case description is not updated when running via Azure Pipeline"
**Describe the bug**
Created Azure Pipeline which uses configuration.yml file. This file has description key.
while running load test, Observed Description is not updated in portal. Screenshot is attached for refrence.

configuration.yml file
`version: v0.1
testName: Notification2XLoad
testPlan: Notification.jmx
description: 'Notification 2XLoad Test Run'
engineInstances: 1`

**Expected behavior**

[2022-01-18 09:03] Icha007 opened #35 "[BUG]"
**Describe the bug**
Yesterday January 17th, Test was not working, blocked in status "Provisioning" for a long time before going to status "Failed".
Nothing appears in the Logs (can we activate the log in the resource by the way?).
Today, tests are working normally.

**To Reproduce**
1. Go to tests part in the Azure Load Testing Resource (create in region North Europe)
2. Re-run a test that alread

[2022-01-19 05:33] kaumishra commented on #33
@WouterSlob We have pushed a fix. Can you try again and let us know?

[2022-01-19 09:16] ninallam opened #36 "[BUG] Test issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-01-19 15:53] WouterSlob commented on #33
Yes. It works again. Thnx!

[2022-01-20 05:21] agrawalamit31 opened #37 "[Feature Request] Service Connection backed up by Certificate is not supported for running load test via Azure pipeline"
**Is your feature request related to a problem? Please describe.**
We are running load test via Azure pipeline where Service connection is using client secret. We observed Load Testing is not supported certificate in Service connection though certificate is recommended for security standpoint .

**Describe the solution you'd like**
Please provide support for Service Connection backed up by Certifi

[2022-01-20 09:03] ChrisTyler-6788 commented on #32
Hi, Thank you for raising this issue on my behalf.

Please find additional notes I have provided on the Microsoft forum:

[2022-01-20 13:11] abranj1219 commented on #32
Hello @ChrisTyler-6788
Thanks for reporting this. We are looking into this issue.  As you reported it seems the tests have executed correctly, but the client metrics is not displayed properly in this specific scenario. Would you be able to share some more details like testrunName, jmx to speed this up.

[2022-01-21 04:43] kaumishra commented on #28
Hi @jometzg You can compare test results from our dashboard currently. We keep client side data for 180 days and server side for 93 days.

[2022-01-21 05:51] ninallam commented on #34
Hi @agrawalamit31 the above screenshot is the test run description. The test description can be seen when you click on Configure -> Test as shown below
![image](https://user-images.githubusercontent.com/50437471/150473312-47fe6943-995a-4eb8-9cf4-b31323f6c92a.png)

Currently there is no way to update test run description through Azure Pipelines. We will take this feedback to improve the experience.

[2022-01-21 05:53] ninallam commented on #37
@agrawalamit31 thanks for the feedback. We will work on this to support service connections with certificates.

[2022-01-21 06:47] krishna1s commented on #32
Hi @ChrisTyler-6788 can you also share the region name in which you have created the load test along with working and non working JMX.

[2022-01-21 08:08] ChrisTyler-6788 commented on #32
Hi @abranj1219, @krishna1s.

Please find an example of the GraphQL requests currently failing. There are also two CSV files which contain paths to authenticate and access the API, I am unfortunately unable to provide these as this is an in development API, but this hopefully should visualize the structure of our JMeter tests.

The region we have been using is 'North Europe'

Many thanks

[GitHubEx

[2022-01-23 13:54] agrawalamit31 commented on #34
Hi @ninallam ->Problem is  we provide description at the time of creation but is not visible in portal along with TestName.

![image](https://user-images.githubusercontent.com/19320805/150681779-414e96c4-23cd-4b63-8221-15c691c11eda.png)

I was expecting Description column but no as such column.
![image](https://user-images.githubusercontent.com/19320805/150681825-a036ef79-b314-4cb2-9001-ad7bcad42c

[2022-01-23 14:03] agrawalamit31 opened #38 "[BUG] Azure Load Testing Portal displaying incorrect Response time for 90, 95 and 99 percentile."
**Describe the bug**
Azure Load Testing  Portal displaying incorrect Response time for 90, 95 and 99 percentile as compare to JMeter dashboard.

**To Reproduce**
![image](https://user-images.githubusercontent.com/19320805/150682028-96f7fc6f-8b5b-4216-a0a8-f884c1ab95f2.png)

**Expected behavior**
Client side metric in Azure Load testing portal  should display P99 for post call as 11 instead of  10.

[2022-01-24 05:13] ninallam commented on #34
@agrawalamit31 thanks for the feedback. We have take an note of this and will improve the experience.

[2022-01-24 15:15] agrawalamit31 opened #39 "[Feature Request] Load test configuration yaml file is not working if we creates variable to run Azure Load testing via Azure Pipeline"
**Is your feature request related to a problem? Please describe.**
We are having four applications which we want to load test via single Azure pipeline so tried to create variables in load test yaml file but it didn't work for me.  To make it working created 4 separate yaml files corresponding to each service.

**Describe the solution you'd like**
Created below load test config yaml file

variable

[2022-01-24 15:17] agrawalamit31 commented on #39
@abranj1219 - FYI

[2022-01-24 15:29] MonikaReddy-MSFT commented on #32
@ChrisTyler-6788 -Can you try to run the test again, as this test seems to be a one-month-old test.
We are hoping we might have fixed some issue in past few weeks related to this.

Please let us know once you run the test again.

[2022-01-24 15:32] agrawalamit31 opened #40 "[BUG] All result artifacts are not available in Azure pipeline after load test execution"
**Describe the bug**
All artifacts as part of results are not available after load test execution via Azure Pipeline.
There is only one csv file as part of results.
![image](https://user-images.githubusercontent.com/19320805/150812870-1a6746a2-d449-49e2-924c-a734488e1aa0.png)

**Expected behavior**
There is no index.html file and other required files as part of result.

AB#1465664

[2022-01-24 15:38] agrawalamit31 opened #41 "[BUG] Incorrect Virtual Users Count displayed as part of Client metrics"
**Describe the bug**
Client metrics should display **max** virtual user count while it seems to be average count.
Please check below snapshot.
![image](https://user-images.githubusercontent.com/19320805/150814172-7b81bb29-f26b-426c-98ab-c97edd934dbe.png)

**Expected behavior**
Max Virtual user count should be 30.

[2022-01-24 15:43] agrawalamit31 commented on #41
@ninallam FYI

[2022-01-24 15:44] agrawalamit31 commented on #40
@ninallam FYI

[2022-01-25 05:14] ninallam commented on #40
Hi @agrawalamit31 could you please check if the additional files were present when downloaded from the portal?
@kusweta can you please take a look at this?

[2022-01-25 05:19] ninallam commented on #39
@agrawalamit31 thanks for the feedback. We will explore this option to improve the experience.

[2022-01-25 06:09] agrawalamit31 commented on #40
@ninallam and @kusweta - I observed this behavior several times. Some time I got all files and some times only getting testreport.csv.

[2022-01-25 08:30] ChrisTyler-6788 commented on #32
hi @MonikaReddy-MSFT.

Thanks for your reply. I have now re-run our tests and these do look to be passing now and displaying full test results.

Many thanks for your help

[2022-01-27 10:24] srini1978 commented on #35
Is this fixed ? I was able to run some  tests on 1/21 but again i created some tests in Australia and they are continuously in provisionign state

[2022-01-27 14:16] Icha007 commented on #35
Hi @srini1978 , no problems today for executing my tests.

Don't know if it might be linked with the region.
If you can, try to re-create a new Load Testing resource in region North Europe and launch your tests from there to see if you got more success.

[2022-01-27 16:48] conradascott opened #42 "[BUG] Create and Run Load Test: Results Disappear"
**Describe the bug**
Load Test: Create test, run, exit, return: test results Disappear

**To Reproduce**
1. Create a Load Test (JMeter has URL to Azure Function; added resources)
2. Run Test
3. Exit and return to Test Results page

**Expected behavior**
Test results should not disappear.

**Screenshots**
![image](https://user-images.githubusercontent.com/90776249/151403658-d6e5b37e-8993-4a7c-9e6e-

[2022-01-27 16:53] conradascott opened #43 "[BUG] Load Test: Create, run twice, delete second run - entire test deleted (all test runs)"
**Describe the bug**
Load Test: Create, run twice, delete second run - entire test deleted (all test runs)

**To Reproduce**
1. Create Load Test
2. Run Load Test
3. Run Load Test again
4. Open second run of the test. Delete test run.

**Expected behavior**
Test should not be deleted.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Windows 10 (latest, Microsoft int

[2022-01-27 16:57] conradascott opened #44 "[BUG] Load Test: Downloaded results file too large to open in Excel (650+ MB for a one-minute test)"
**Describe the bug**
Load Test: run test, download results file - file too large to open in Excel (600mb+)

**To Reproduce**
1. Create Load Test
2. Run Load Test
3. Select Download Results from the top menu.
4. Attempt to open file in Excel.

**Expected behavior**
Downloaded file should open in Excel.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Windows 10 (lat

[2022-01-27 17:47] conradascott opened #45 "[Feature Request] Test Metrics Configuration scope limited: Can only be configured inside test run. Not reusable."
**Is your feature request related to a problem? Please describe.**
 - Metrics can only be configured in a test _run_, which means that Load Test must be run before configuring metrics.
 - This also means that metrics _cannot_ be configured at Load Test level and used across test runs.

**Describe the solution you'd like**
Users should have the ability to configure test metrics at the load test lev

[2022-01-27 17:50] conradascott opened #46 "[BUG] Load Test Metrics: Run Test and Configure Metrics: Re-run. Results of previous runs deleted."
**Describe the bug**
Run Test and Configure Metrics: Re-run. Results of previous runs deleted.

**To Reproduce**
1. Create Load Test
2. Run Load Test
3. Configure Metrics on Test Run

- Results of all previous runs deleted

**Expected behavior**
Previous runs should not be deleted when reconfiguring test metrics.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Win

[2022-01-27 17:53] conradascott opened #47 "[BUG] Load Test: Run Test and then change references: previous results inaccessible"
**Describe the bug**
Load Test: Run Test and then change references: previous results inaccessible

**To Reproduce**
1. Create Load Test
2. Add References
3. Run Load Test
4. Modify References (add additional, remove, etc. Any combination.)

 - Results from all previous test runs inaccessible (black banner saying that there was an error retrieving results).

**Expected behavior**
Previous runs sho

[2022-01-27 17:55] conradascott opened #48 "[Feature Request] JMeter Templates for Azure Services / Protocols + Documentation"
**Is your feature request related to a problem? Please describe.**
The documentation comes with a single JMeter file example for calling an HTTP endpoint.

**Describe the solution you'd like**
Is there any possibility of obtaining JMeter templates for different services in Azure, or is JMeter strictly an HTTP endpoint test tool (hopefully not)?

JMeter files are not user-friendly to configure, and

[2022-01-27 17:59] conradascott opened #49 "[Feature Request] Load Test: Multi-Azure-Service Testing"
**Is your feature request related to a problem? Please describe.**
Azure load testing currently supports two chained services (client; server). Would be good to have more than two services maximum for testing :

**Describe the solution you'd like**
For example, consider this architecture and flow:

Services:
•	API Management (APIM)
•	App Service
•	AKS Cluster running App Service

Flow:
1. User cal

[2022-01-27 18:02] conradascott opened #50 "[Feature Request] Load Testing: End-to-End Testing from ingress to services"
**Is your feature request related to a problem? Please describe.**
The request is for the potential for end-to-end testing including database and network components.

**Describe the solution you'd like**
The ability to perform end-to-end load testing across a variety of Azure services. For example: APIM -> ASE -> Azure Function -> Cosmos DB -> etc., including underlying entities such as AKS cluste

[2022-01-27 22:58] MonikaReddy-MSFT commented on #32
@ChrisTyler-6788 - Glad that the issue is resolved now.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-27 22:58] #32 closed

[2022-01-28 10:44] kaumishra commented on #41
@agrawalamit31 Thanks for raising this. We will get this fixed

[2022-01-28 10:46] kaumishra commented on #38
Thanks for sharing this Amit. We will investigate this discrepancy and update here.

[2022-01-28 11:19] srini1978 commented on #35
Thanks. I am able to run the tests now

[2022-01-28 19:50] dewolfs commented on #29
@ninallam Can you provide an example ARM resource template? When I create an Azure Load Test resource via the portal and try to export the template I get the message

`"{
  "code": "ExportTemplateCompletedWithErrors",
  "message": "Export template operation completed with errors. Some resources were not exported. Please see details for more information.",
  "details": [
    {
      "code": "Resour

[2022-01-28 20:01] dewolfs commented on #48
@ninallam JMeter is around for a long time.  It's not user-friendly.  Are you evaluating a more recent approach to define load testing code just like you write applications? For example similar to https://playwright.dev or https://k6.io ?

[2022-01-31 04:52] ninallam commented on #29
Hi @dewolfs you can get the ARM template from the repository https://github.com/Azure-Samples/nodejs-appsvc-cosmosdb-bottleneck/tree/main/ARMTemplate

[2022-01-31 19:16] dvanbale commented on #9
I would like to add a 👍 to adding Playwright to AZL. Currently using this for E2E testing of our web apps and would very much would like to increase the scale of the tests with AZL to reproducere realistic simulated user load.

[2022-02-02 14:34] Kokenberg commented on #27
We are seeing the exact same thing:
[code]

And yes, we have assigned the 'Load Test Contributor' permission to our Service Principal.

[2022-02-07 05:47] MonzT commented on #4
Hi there.
Is there any feedback on this topic as yet? or an ETA on an update at least?

[2022-02-08 13:44] burhansavci commented on #4
+1 Service Tag option

[2022-02-09 08:17] krishna1s commented on #38
Hi @agrawalamit31 JMeter report shows values over 1 min aggregation, can you change group by interval to 1m and see if it matches?

[2022-02-09 13:21] ninallam commented on #40
@agrawalamit31 we have fixed this. Can you please confirm if this is working for you.

[2022-02-10 02:47] agrawalamit31 commented on #40
@ninallam  - I will verify and update you

[2022-02-10 02:48] agrawalamit31 commented on #38
@krishna1s  - I will verify and update you

[2022-02-10 11:27] agrawalamit31 commented on #38
@krishna1s - It is not working as expected.  I did aggregation for 1 minute but data is not matching.
![image](https://user-images.githubusercontent.com/19320805/153397257-ad703246-edd6-493c-aeb1-0d1ac65c7c39.png)

In above snapshot, Response time metric for 99 percentile for PeopleCount is 15.38s while in JMeter dashboard it is 19833.16ms.

Attached result artifact from JMeter dashboard
[results.

[2022-02-12 10:36] agrawalamit31 commented on #41
@kaumishra - I Observed this issue is fixed and we client metrics is displaying now max count for VU so closing it.

![image](https://user-images.githubusercontent.com/19320805/153707922-6bddf4c8-8fb9-4cfe-87e7-fce4d2969a7a.png)

[2022-02-16 12:55] mikedouglasdev opened #51 "[BUG] Pipeline error - Cannot find module 'azure-pipelines-task-lib/task'"
**Describe the bug**
Trying to call the AzureLoadTest task, it fails with the following information.  Looks like the task was just updated to 1.1.90.  I hadn't tried it before to know if it worked with 1.1.89.

==============================================================================
Task         : Azure Load Testing
Description  : Automate performance regression testing with Azure Load Testi

[2022-02-17 08:36] agrawalamit31 commented on #40
@ninallam  - I verified it and it is working now and we are getting all artifacts under result folder via pipeline.

[2022-02-17 08:36] #40 closed

[2022-02-18 07:57] agrawalamit31 opened #52 "[BUG] Cancelling Azure Load Testing task via ADO pipeline doesn't stop running load test."
**Describe the bug**
I was running 1 hour Azure Load testing task via Azure DevOps pipeline and then I cancelled the build pipeline but Azure Load test task was running. It didn't stop at the time of cancelling build. I stopped manually Load test execution.

**Expected behavior**
Azure Load test execution should stop when build got cancelled either manually or automatically.

AB#1485457

[2022-02-18 08:10] agrawalamit31 opened #53 "[Feature Request]Azure Load Testing support 3 hours of endurance test but we need 24\48 hours of endurance test."
**Is your feature request related to a problem? Please describe.**
We needed 24 to 48 hours endurance test for our service but as of now Azure load testing supports only 3 hours of endurance test.

**Describe the solution you'd like**
Please support 24 to 48 hours endurance testing support

**Describe alternatives you've considered**
JMeter running in Azure Kubernetes Service provides us way to ru

[2022-02-18 08:26] ninallam commented on #51
@mikedouglasdev The task is updated to 1.1.91. Can you please confirm if it is working now?

[2022-02-18 22:37] splitified commented on #4
+1 for "generate traffic from dedicated IPs" but "Vnet integration" would do too.

[2022-02-21 09:36] Ethan033100 opened #54 "how can I get Maximum number of request per seconds"
I need to generate more than 20000 requests per seconds. I created a dummy example with APIM and azure function.
I tried using the same JMeter script using 250 threads for 60 seconds.
I tried with 10 and 20 instances and I noticed that I was not able to achieve more than 2000 transactions per seconds.
The most performant was the cluster with 10 instance, rather than the one with 20.

AB#1487102

[2022-02-21 14:58] adiazcan opened #55 "Run a test with files"
I have a JMeter test plan that uploads a file to an endpoint using HTTP Post. I removed all the path reference from the file, as follow:

            <elementProp name="HTTPsampler.Files" elementType="HTTPFileArgs">
              <collectionProp name="HTTPFileArgs.files">
                <elementProp name="powerpoint.pptx" elementType="HTTPFileArg">
                  <stringProp name="File.path">p

[2022-02-22 02:23] Ethan033100 commented on #54
I have a problem. My APIM is in southeastasia and azure load testing is in Australia.

I can see that the average number of users were 4264 and the p90 of the response time is 3.88 seconds.

I found an SSLException error, how can I solve it?

[2022-02-22 05:39] Ethan033100 commented on #54
any updates?

[2022-02-22 06:12] kaumishra commented on #54
Hi Ethan, thanks for sharing. I am adding @abranj1219 from our dev team to help with this.

[2022-02-22 06:18] Ethan033100 commented on #54
@abranj1219  Love, if you could help me tweak my configuration asap.

[2022-02-22 06:58] abranj1219 commented on #54
@Ethan033100  This seems to be an interesting scenario.   We shall support you to generate that load. MALT can easily generate 20k rps. It would be great if you could share your APIM configuration. I believe you are already taking care of setting correct configuration on that part. But would be great to double check that and upgrading tier https://docs.microsoft.com/en-us/azure/api-management/upgr

[2022-02-22 07:24] Ethan033100 commented on #54
![JmeterConfig](https://user-images.githubusercontent.com/97595052/155082586-6d0a8c0d-3bc4-4867-a622-74dde9b5b2ac.jpg)
[APIMperformance.txt](https://github.com/microsoft/azure-load-testing/files/8114402/APIMperformance.txt)
these files may related. Thanks, if you can feel free to help check. @abranj1219

[2022-02-23 08:59] adiazcan commented on #55
Hi @abranj1219, @ninallam

Any help with attaching files for testing?

[2022-02-23 12:29] mikedouglasdev commented on #51
@ninallam I unfortunately used up my credits in my subscription.  I will retry as soon as it is reactivated.

[2022-02-24 15:55] alessiofilippin opened #56 "[BUG] Tests stuck in Provisioning state"
**Describe the bug**
After creating and start a test. The status remain stuck in Provisioning indefinitely.

**To Reproduce**

1. Go to tests part in the Azure Load Testing Resource (create in region North Europe)
2. Run a test.
3. See status.

**Expected behavior**
test should start.

**Screenshots**
![image](https://user-images.githubusercontent.com/47082128/155559338-b4c0ad7f-b666-476a-be6f-632

[2022-02-25 06:11] Sachid26 commented on #55
Hi @adiazcan ... Thank you for reporting the issue. Could you please help us with the test plan if possible and the type of file you are trying to upload?

[2022-02-25 06:13] Sachid26 commented on #56
@alessiofilippin .. Thank you for reporting the issue. Adding @issacnitin from our team

[2022-02-25 08:05] alessiofilippin commented on #56
JFYI: I left the tests running in "provisioning" over the night - I found all them failed this morning.

let me know if I can help somehow :) - thanks

![image](https://user-images.githubusercontent.com/47082128/155678231-82677633-d45c-4c03-ab6c-f5b0fb256b3c.png)

[2022-02-25 08:07] alessiofilippin commented on #56
I also re-run some of them this morning.

![image](https://user-images.githubusercontent.com/47082128/155678601-dbcae631-b16e-4527-a41e-718b81bd3049.png)

They seem in executing state .. this looks like being an intermittent issue then.

[2022-02-25 18:19] jwyza-pi commented on #56
I've seen this as well, sometimes it'll just sit in provisioning for hours then suddenly start running or fail.

[2022-02-25 18:28] jwyza-pi opened #57 "[Feature Request] Allow INFO level logs in worker.log"
**Is your feature request related to a problem? Please describe.**
When trying to diagnose why a sampler or plugin isn't working (but isn't erroring out) it would be useful to be able to see the INFO logs generated by that plugin or sampler.

**Describe the solution you'd like**
An option to enable logging at lower levels than the default which appears to be WARN.  Ideally supporting all levels, t

[2022-02-25 18:37] abranj1219 commented on #56
@jwyza-pi  and @alessiofilippin  Do you still see these issues?

[2022-02-25 19:13] jwyza-pi commented on #56
I'll keep an eye on it.  I haven't seen it happen today or yesterday, but definitely was happening a fair bit last week.

[2022-02-27 19:10] ravimainali opened #58 "[BUG] Jmeter web driver sampler"
We want to run Jmeter web driver sampler for real time browser load test so since we dont have control over load engine to copy the web driver exe , therefore we assume that these load engine are one of the Azure Hosted Vm and since Azure hosted vm will by default have chrome and chrome web driver installed so we tried using web driver enviornmnet variable to give the chrome driver path in Jmeter

[2022-02-27 19:22] ravimainali opened #59 "[BUG] Jmeter web driver sampler not working"
We want to run Jmeter web driver sampler for real time browser load test so since we dont have control over load engine to copy the web driver exe , therefore we assume that these load engine are one of the Azure Hosted Vm and since Azure hosted vm will by default have chrome and chrome web driver installed so we tried using web driver enviornmnet variable to give the chrome driver path in Jmeter

[2022-02-27 19:33] ravimainali commented on #59
Duplicate issue

[2022-02-27 19:33] #59 closed

[2022-02-28 03:02] mikedouglasdev commented on #51
I was able to verify this is working now.  Thanks for the quick response.

[2022-02-28 03:02] #51 closed

[2022-02-28 07:33] JljHook commented on #4
+1 for the Vnet integration

[2022-02-28 08:40] ninallam commented on #27
@jometzg @Kokenberg we have added better error messaging. If you are still facing an issue can you please run the task again to see any specific error messages?

[2022-02-28 14:20] cmenzi commented on #48
We just moved away from JMeter Load Tests (Azure DevOps), because you deprecated it! So, we move to K6. There you recommended we should use services like K6.

Now, you introduce the same stuff back and we should use JMeter again?!

[2022-02-28 15:58] dsteindo opened #60 "[Feature Request] Possibility to get the worker instance (node) number inside .jmx file, named "node_index""
**Is your feature request related to a problem? Please describe.**
We want to migrate from JMeter ACI Terraform to Azure Load Testing, for this we looked into the setup.
What we are missing is the possibility to figure out on which worker node we are currently on, this is needed to calculcate an offset for the user login we want to use for our current Thread.

According to https://github.com/Micro

[2022-03-01 08:56] Ethan033100 commented on #54
any updates?

[2022-03-02 10:42] ravimainali commented on #58
We have a web application , we want to do a front end web ui load test of this application so we thought of using Jmeter Web driver sampler plugin to do the web ui load test , where this sampler will launch the web browser and then open this web application url followed by navigate to different pages. But Jmeter web driver sampler need a specific web browser web driver as a prerequisite, say for r

[2022-03-03 15:52] Sachid26 commented on #60
@dsteindo .. thank you for your feedback. We do have the CSV split feature in the pipeline which would allow you to split a large CSV between engine instances.

[2022-03-03 17:42] jwyza-pi commented on #56
I have not seen this occur again, so from my perspective, we're good.

[2022-03-03 17:45] jwyza-pi commented on #60
Do you know (roughly) the timeline for that? It'd be very handy for us as well.

[2022-03-04 05:31] Sachid26 commented on #60
Don't have an ETA to share now. but will keep you posted. Thank you for your patience.

[2022-03-04 08:03] alessiofilippin commented on #56
Same from my side - it stopped after a couple of days

[2022-03-06 23:13] dsteindo commented on #60
Thank you for the reply, will it then be possible to retrieve the index of the worker/node/engine inside the JMX files like in the examples I linked?
Reason for this is that I use math to calculate the user-login, as an big csv list with "user-0" to "user-9999" would not be a very smart approach in my opinion.

[2022-03-07 01:51] DanielLarsenNZ commented on #56
I had two stuck in provisioning today (East US 2)

[2022-03-07 05:18] abranj1219 commented on #56
We are looking into this and will get back soon!

[2022-03-07 09:33] shilamontubig commented on #56
Same here but I was using Australia East region.

[2022-03-07 14:45] abranj1219 commented on #56
It has been fixed now. We'll keep this open for couple of more days to confirm the consistent behavior

[2022-03-08 13:50] shilamontubig opened #61 "[BUG] Test Run was stuck in Executing state after adding Secret parameter"
I've tried using KeyVault in Azure Load Testing, following the steps described at https://docs.microsoft.com/en-us/azure/load-testing/how-to-parameterize-load-tests#secrets, but the test run was stuck in Executing Status.

I have tried running a jmx file with no Secret parameter and it works fine with no issues.

** Steps To Reproduce**

- Enabled the system assigned managed identity for my Load T

[2022-03-09 13:48] adiazcan commented on #55
Hello @Sachid26

Did you have time to review the files?

[2022-03-09 16:33] kaumishra commented on #58
@ravimainali Thanks for sharing. Let me check on this and get back with an update.

[2022-03-09 19:17] Sachid26 commented on #55
Apologies for the delay. The zip seems to be empty when i try to extract the file.

[2022-03-09 22:43] dianchengwangCHN opened #62 "[Feature Request] A way to work with folder paths as parameters"
**Is your feature request related to a problem? Please describe.**
Some plugins need to specify folder paths as parameters. Ex. A parameter of this [grpc plugin](https://github.com/zalopay-oss/jmeter-grpc-request) is the parent folder path for all .proto files. I learned from [this doc](https://docs.microsoft.com/en-us/azure/load-testing/how-to-read-csv-data) the way to work with files is to drop

[2022-03-10 05:25] ashishmundra opened #63 "What is the Test Engine Instance Location?"
Can I setup that some tests should run from Europe and some from US location? Or will all my test run from the location where I initially configure Azure Load Testing Resource?

This is not clear from documentation.

Thanks,
Ashish

[2022-03-10 07:10] rithvikp1998 commented on #55
Hi @adiazcan,  I am unable to extract the files from the zip you gave, Windows just complains the file is invalid. I created a simple test plan which uploads a random file and it seems to be working well, both in our service and in my local machine.

Are you able to run your test in your local machine? Can you please share the url to the test that failed in our service?

These are the files I used

[2022-03-10 07:18] ninallam commented on #61
Hi @shilamontubig can you confirm if you have provided the secret URI in the format https://myvault.vault.azure.net/secrets/mysecret/ ? Checking if you have intentionally removed the key vault name in the description above?

[2022-03-10 07:21] ninallam commented on #63
Hi @ashishmundra currently we do not support generating load from multiple regions in a test. The load is generated from the location of the Azure Load Testing resource.

[2022-03-11 00:56] acostmig opened #64 "HTML report not generated"
**Describe the bug**
After running tests, either through the portal or the pipeline. upon downloading the results, only the testreport.csv file is present in the Zip.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure Azure Load Testing resource exists
2. Navigate to the Azure Load Testing resource
3. Click on Tests
4. Click on Create Tests
5. Click on Test Plan
6. Upload the below JM

[2022-03-11 03:57] Ethan033100 commented on #54
I am using APIM Premium SKU

[2022-03-11 07:48] shilamontubig commented on #61
Hi @ninallam Yes I have removed the vault name in the description above. The secret URI is in this format: https://myvaultname.vault.azure.net/secrets/TestWpsSubscriptionKey/.

[2022-03-11 08:23] ninallam commented on #61
@shilamontubig Thanks for reporting the issue. There's seems to be some problem with the secret input parameter. As a workaround can you please try using a specific version of the secret for now? For example:
https://myvault.vault.azure.net/secrets/mysecret/ec96f02080254f109c51a1f14cdb1931. Please let us know if this is working for you.

[2022-03-11 08:45] Ethan033100 commented on #54
@abranj1219

[2022-03-11 10:52] shilamontubig commented on #61
Hi @ninallam Thanks for your feedback. I have also tried the same format (https://myvault.vault.azure.net/secrets/TestSubscriptionKey/a9a15bc440134bea88b1f9dcd690a4) and I still got the same result. The test run was stuck in Executing state.

[2022-03-11 11:13] ninallam commented on #61
@shilamontubig thanks for confirming. Could you share the test run ID to debug further? Testrun ID can be obtained from the Share URL in the test run. The last GUID is the test run ID.

![image](https://user-images.githubusercontent.com/50437471/157856629-bc9709ae-fd73-4baa-81c9-5526c5ab579e.png)

[2022-03-11 11:15] ninallam commented on #61
@kusweta to debug this

[2022-03-11 11:29] ninallam commented on #61
@shilamontubig is the test run working fine without secret parameters?

[2022-03-11 15:42] shilamontubig commented on #61
hi @ninallam Yes, the test runs successfully without secret parameters.
Here are the run ids that you can check:
- cf16d5f5-9df6-4046-8501-a678a9d2a1ea
- 42e3893a-c759-4c07-b69e-32ec1c2d524b

[2022-03-11 17:57] kaumishra commented on #58
@ravimainali I checked on this. Currently we do not support uploading executables to our test engines. I have added this to our backlog. I will update this thread once we prioritize it.

[2022-03-11 17:58] kaumishra commented on #57
@jwyza-pi Thanks for sharing this feedback. This item is in our roadmap. I will update once we have a timeline for it.

[2022-03-14 08:46] ninallam commented on #64
@acostmig We have temporarily disabled the JMeter JTL dashboard. We will let you know once this is available again.

[2022-03-15 05:58] Sachid26 commented on #63
The documentation has been updated to reflect the changes.
![image](https://user-images.githubusercontent.com/70128087/158316296-300b2d0e-3540-41ac-aff6-d23e65803022.png)

[2022-03-15 08:27] ninallam commented on #61
Hi @shilamontubig We see that you are using secrets without defining user defined variables. Could you please use a user - defined variable as mentioned in the doc https://docs.microsoft.com/en-us/azure/load-testing/how-to-parameterize-load-tests#use-secrets-in-apache-jmeter
Please let us know if it works for you.
Meanwhile we will take this feedback to improve and make the necessary changes for s

[2022-03-15 12:53] shilamontubig commented on #61
Hi @ninallam. I have set-up the secret using a user defined variable based on the documentation previously but when it failed I reverted back to using environment variable function ie. ${__BeanShell( System.getenv("variableName") )}.

Today, I tried using __GetSecret function again in the .jmx file and the run was still stuck in Executing state. Please see the User Defined variable below:

 <eleme

[2022-03-17 07:38] agrawalamit31 opened #65 "[BUG] Down results after execution of test result has only test report not having JMeter dashboard"
**Describe the bug**
Ran load test via ALT using azure portal. Downloaded test result. It has only test report csv not JMeter dashboard(html file)

**To Reproduce**
![image](https://user-images.githubusercontent.com/19320805/158758838-b4bc0a0b-481a-44c2-bf00-b5b566b063a0.png)

**Expected behavior**
Download should have all files like index.html

**Screenshots**
![image](https://user-images.githubu

[2022-03-17 09:33] Ethan033100 commented on #54
Can I get any updates on this? Or other potential cause?

[2022-03-17 10:30] Sachid26 commented on #65
@agrawalamit31 We have temporarily disabled the dashboard generation. We will let you know once this is available again.

[2022-03-18 08:35] FreFre opened #66 "[Feature Request] Support for Service Bus Load testing using JMeter"
**Is your feature request related to a problem? Please describe.**
Modern platforms are more than just the API's. Microservice as processors of events (event streaming/sourcing), without havinf is also very common. JMeter has a 3rd party plugin that allows sending messages to Azure Service Bus.

**Describe the solution you'd like**
I would like to see support for the Service Bus Load testing in th

[2022-03-21 05:57] harshan-b commented on #54
@Ethan033100 It seems like the bottleneck is caused by APIM. Can you please check if there are any issues in Availability and Performance of APIM's Diagnose and Solve Problems tab? High round trip time in APIM can cause network timeouts (and SSL exceptions). It would be helpful if you could share more details about APIM and Azure function backend. Otherwise, I would suggest forwarding this issue t

[2022-03-22 18:13] abranj1219 commented on #54
@Ethan033100,   As @harshan-b  mentioned, We are able to achieve high scale if we remove APIM layer and directly load test premium function app. Could you check if you are able to achieve desired scale without APIM. This would confirm that it is related to APIM configurations and ALT can generate that much traffic indeed,

[2022-03-23 10:47] crozzer opened #67 "Downloaded csv report date format"
**Is your feature request related to a problem? Please describe.**
Not a problem per se, more of an annoyance.  When I download the results from a test run the timestamp is coming down as i.e. 1.64797E+12 (1647968523740)

**Describe the solution you'd like**
In Jmeter we have the functionality to change the settings so that a csv can be downloaded with a different format for a date by opening the

[2022-03-28 05:55] rithvikp1998 commented on #55
Hi @adiazcan Is the issue resolved? Or do you need any help with it?

[2022-03-29 09:45] cijuvargeeseNeu commented on #61
Hi @ninallam Any update on the above mentioned issue. I am also facing the same issue while including a secret in the jmx test. This appears to be working fine when I ran the test without ${__GetSecret()} function and passing the data as parameter
Run ID: /testRunId/ac2f83e9-a525-4067-9024-633d5ef7602e

[2022-03-29 12:08] ninallam commented on #61
@kusweta can you please check the above test runs?

[2022-03-31 09:52] ninallam commented on #27
@jometzg @Kokenberg any update on this?

[2022-04-01 07:40] abranj1219 commented on #54
@Ethan033100 , Could you confirm this if this was indeed related to APIM configuration? Would close this issue now. Please feel free to reopen in case you need further support

[2022-04-01 07:40] #54 closed

[2022-04-01 07:45] abranj1219 commented on #55
@adiazcan , Could you please confirm and get back. Closing this issue for now. Please feel free to repon in case you need any support

[2022-04-01 07:45] #55 closed

[2022-04-01 07:49] abranj1219 commented on #67
@crozzer Thanks for reporting this. Supporting Jmeter properties file is in our backlog. We will update when this feature is available

[2022-04-01 09:28] radhikajain99 commented on #46
@conradascott We had fixed the issue with the test run results page. Can you please confirm if this is working now?

[2022-04-01 12:10] adiazcan commented on #55
Hi Team, sorry for not answering before, we had a lot of work testing our application using jmeter.

We tested again and it didn't work but we don't know why.

Our test work on local, running from jmeter gui, but when we upload the test plan and the attached file, the test failed on running on Azure with the not found file error.

[2022-04-01 20:01] DiegoNoble opened #68 "[BUG]Tests Fail and Test Result is "Not Applicable""
Hello,

Some hours ago I started testing Azure load tests successfully, but then without changing anything the same tests started failing, the test result is "Not Applicable".

I tried creating new Azure Load test in many regions like East us, East us2, North Europe, but the error persists.

Is there a temporary service problem?

AB#1513231

[2022-04-05 08:10] Sachid26 commented on #68
Hi @DiegoNoble ... Thank you for reporting the issue. Can you please help us with the below information:

- share the scenario that you are trying to test and the parameters like engine instances you are referring for each test.
- Also, please share the screenshots of the error that you are seeing.
- Test run id for the tests which failed and subscription id.

[2022-04-06 07:34] adiazcan commented on #55
Hi @abranj1219 @rithvikp1998

did you have time to see my latests messages?

[2022-04-07 06:25] rithvikp1998 commented on #55
Hi @adiazcan I tried to reproduce the issue again and it looks like there is some race condition in JMeter/our service which is underreporting the number of samples. When I have 1 loop in my test plan, it is sometimes showing 0 samples (which we consider as a failed test) and sometimes showing 1 sample (which is considered a success). This is probably why I wasn't able to reproduce earlier. I am l

[2022-04-08 06:28] ninallam commented on #61
@shilamontubig @cijuvargeeseNeu we have fixed this issue. Could you please confirm if it is working for you now?

[2022-04-08 06:30] ninallam commented on #27
@jometzg @Kokenberg Closing this issue, since we haven't heard from you.

[2022-04-08 06:30] #27 closed

[2022-04-08 06:40] cijuvargeeseNeu commented on #61
@ninallam I have checked this and it is working fine. Appreciate the help!!

[2022-04-19 07:37] ninallam commented on #61
Thanks for confirming. Closing this issue.

[2022-04-19 07:37] #61 closed

[2022-04-21 08:20] Sachid26 commented on #68
Hi @DiegoNoble ...Checking to see if you have had chance to provide this information. We will close this request post two days in case of no response. Please feel free to reach out to us in case you face the issue again.

[2022-04-25 08:28] Sachid26 commented on #68
Closing this as no response received. Please feel free to reach out in case you run into the issue again.

[2022-04-25 08:28] #68 closed

[2022-04-29 19:02] SubhrantC opened #69 "[Feature Request] Average and Median Metrics in Azure Load Testing Reports"
**Is your feature request related to a problem? Please describe.**
I have noticed Azure Load Testing Reports have the ability to report metrics in 90, 95 and 99 percentile but does not have the option to report them in "Average" and "Median" values. They are standard statistic calculations and should be available on the reports to accurately measure the performance of the systems under Load Test.

[2022-05-04 15:41] s041507 opened #70 "Add Azure Load Testing to KeyVault trusted services"
**Is your feature request related to a problem? Please describe.**
We have a KeyVault that is protected by a firewall. Therefore we cannot access it.

**Describe the solution you'd like**
Let Azure Load Testing be added as a trusted service for the KeyVault. I know it's not an Azure Load Testing issue, but please forward to the KeyVault team.

**Describe alternatives you've considered**
Wait for t

[2022-05-04 18:47] Sachid26 opened #71 "[BUG] test bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-05-04 22:32] conradascott opened #72 "[BUG] Load Test Results initially have date of 12/31/1969"
**Describe the bug**
The start time and end time for load test results are both 12/31/1969. The grids at the bottom have the message "The configured query window is requesting data outside of this metrics max retention period (93 days)..."

**To Reproduce**
Steps to reproduce the behavior:
1. Run a load test.
2. View results
3. Look at Start Time and End Time at top of page.
4. Note that the dates

[2022-05-04 22:53] conradascott opened #73 "[BUG] Load Test Results: JMeter web pages missing"
**Describe the bug**
After running a load test the results .zip file used to contain a set of JMeter web pages with results. This no longer exist in the results.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a load test.
2. Go to results.
3. Click Download, select results. File is downloaded to local temp folder.
4. Open .zip file- no JMeter pages present.

**Expected behavior**
Expect

[2022-05-05 08:18] Sachid26 commented on #73
Thank you for reporting this. The JTL dashboard has been disabled temporarily. We will update once we re-enable it.

[2022-05-05 08:41] AL1055188 opened #74 "[BUG] Azure load test with keyvault : error "Keystore file not found, loading empty keystore""
I've tried using KeyVault in Azure Load Testing, following the steps described at https://docs.microsoft.com/en-us/azure/load-testing/how-to-parameterize-load-tests#secrets, but the test run was stuck in Executing Status.

I have tried running a jmx file with no Secret parameter and it works fine with no issues.

** Steps To Reproduce**

Enabled the user assigned managed identity for my Load Testi

[2022-05-05 08:57] pfefferf commented on #4
+1 for "generate traffic from dedicated IPs"

would be helpful for load testing against an API management endpoint with IP filtering policies; with dedicated IPs we could add the load testing infrastructure IPs on a load testing environment

[2022-05-06 14:52] cijuvargeeseNeu opened #75 "[BUG] UI Issue- Comparison of test runs shows time duration as Seconds instead of Minutes"
Comparison of test runs shows time duration as Seconds instead of Minutes

Steps to reproduce the behavior:
1. Create two load test runs with total duration as 2 minutes
3. Select two test run results and click on Compare button
4. Verify the time duration of the metrices shown

**Expected behavior**
The total duration is 2 minutes and the corresponding should shown

**Screenshots**
![image](https

[2022-05-09 06:52] Sachid26 commented on #74
Thank you for reporting this issue. We are looking into this and inform back once we have something.

[2022-05-09 06:53] Sachid26 commented on #72
Thank you for reporting this issue. We are investigating this and we will update once we learn something.

[2022-05-09 06:54] Sachid26 commented on #71
test bug created

[2022-05-09 06:54] #71 closed

[2022-05-09 06:57] ninallam commented on #74
Hi @AL1055188 can you please share the test run ID for us to debug further? You can find that in the share URL in the Azure portal as shown below
![image](https://user-images.githubusercontent.com/50437471/167356521-6553c902-ce8c-4687-95a5-cb1c42438fff.png)

[2022-05-09 10:10] AL1055188 commented on #74
Hi @ninallam
I share with you the link of the test : [Link](https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport/resourceId/%2Fsubscriptions%2F405626e2-249b-4c52-bc2c-3f5d76f8d29f%2Fresourcegroups%2Fazrg-iasd-loadtest%2Fproviders%2Fmicrosoft.loadtestservice%2Floadtests%2Fazure-load-test/testId/96409186-c6c8-4f81-98a2-e366839305b3/testRunId/decf3d16-df9f-4ab8-a200-2d38f61240

[2022-05-09 10:30] ninallam commented on #74
@AL1055188 Thanks for this. Are you able to see test results in the dashboard? Is the test run still stuck in executing?

[2022-05-09 10:34] AL1055188 commented on #74
It is always the same error 401 unauthorized
![image](https://user-images.githubusercontent.com/97894449/167392850-8c686188-cc97-45d0-aee7-930dfcb340a5.png)

[2022-05-09 10:35] ninallam commented on #74
We will get back on this.

[2022-05-09 10:43] ninallam commented on #74
@AL1055188 have you added the correct secret URL which configuring the load test?

[2022-05-09 10:48] AL1055188 commented on #74
I confirm :
![image](https://user-images.githubusercontent.com/97894449/167395262-f29fe159-90a3-4864-b7fc-cbae8648d2ed.png)

[2022-05-09 19:37] conradascott commented on #73
Thanks. This is a major issue because we cannot download tests results. The JMeter results web pages are missing. The results Excel file is too large to open (see issue 44). If you can take a look, it would be great. Thanks

[2022-05-09 21:05] mikedouglasdev commented on #4
I think the VNET integration would be ideal, however, could you do service tags and send the ALT resource name in a header then we could use a WAF or APIM to filter out the others similarly how Azure Front Door works with X-Azure-FDID ?

[2022-05-11 12:57] johnsta commented on #70
Hi @s041507, please reach out to me via email at john.stallo@microsoft.com regarding joining the private preview.

[2022-05-12 07:55] VasanthMuniswamy opened #76 "Rest Endpoint for Azure Load Test Service"
Hi Guys,

Can you please help me with Rest Endpoints to fetch the data or resource from Azure Load Test Service. I have completed the load test and I want to automate the reports generation for that I need the endpoints.

Kindly help me on this.

Thanks!

AB#1539098

[2022-05-12 08:27] ninallam commented on #76
Hi @VasanthMuniswamy you can find APIs in GitHub public repo for here https://github.com/Azure/azure-rest-api-specs/tree/main/specification/loadtestservice. We are currently working on better documentation for the public APIs and will update you once it is piblished.

[2022-05-12 09:15] ninallam commented on #74
Hi @AL1055188 can you please confirm the above? Are you using Get Secret in the JMX as mentioned here https://docs.microsoft.com/en-us/azure/load-testing/how-to-parameterize-load-tests#jmeter_secrets

[2022-05-12 12:00] AL1055188 commented on #74
Yes I confim that I use GetSecret method.
We find a way.
When there was no oauth2, it works fine !
the problem came from oauth2 which had to configure the calls to retrieve the token and launch the test.

[2022-05-12 12:00] #74 closed

[2022-05-16 06:57] #76 closed

[2022-05-16 20:41] jimcomiskey opened #77 "Support for JMeter Include Controller?"
In order to reuse JMeter Test Fragments across different JMeter Test Plans, I use the Include Controller.  I use this for things such as Login which is shared between different tests.  ALT doesn't allow for uploading more than one JMX file, so it doesn't seem to support Include Controller.

**Alternatives I've considered**
I tried renaming the shared JMX file to something like "Login.jfragment", a

[2022-05-17 05:49] krishna1s commented on #72
@conradascott Hi Conrad, This issue arises when a malformed URL is given in the JMX script and JMeter doesn't generate any load as the request URL is incorrect. You can see these errors in the output result CSV file with the 1969 timestamp. In this case, there won't be any load generated and you won't be able to see any metrics. We have added a fix where you will see the correct start and end time

[2022-05-17 05:49] #72 closed

[2022-05-17 09:41] Ethan033100 opened #78 "[BUG]I followed the guideline to create a Azure load testing, but when I click create. always test is being created."
**Describe the bug**
I created a Azure load testing, after I uploaded Jmeter, and create. It showed nothing but always **Test is being created.**

**To Reproduce**
Steps to reproduce the behavior:
I followed the guideline: https://docs.microsoft.com/en-gb/azure/load-testing/quickstart-create-and-run-load-test

**Expected behavior**
It should bed move the resource page.

**Screenshots**
![image](ht

[2022-05-17 10:23] Nagarjuna-Vipparthi commented on #77
Hi @jimcomiskey, Azure Load Testing does not support JMX fragments currently, but it is part of our roadmap.

[2022-05-17 12:07] conradascott commented on #72
Hi @krishna1s, this is the URL that I used:

http://20.232.240.253/

It was embedded with the jmx file with this content. Can you please point out the malformed URL? Thanks!

<?xml version="1.0" encoding="UTF-8"?>
<jmeterTestPlan version="1.2" properties="5.0" jmeter="5.4.1">
  <hashTree>
    <TestPlan guiclass="TestPlanGui" testclass="TestPlan" testname="Test Plan" enabled="true">
      <stringPr

[2022-05-17 15:35] jimcomiskey opened #79 "Support for Azure Monitor Custom Metrics?"
We have implemented some custom metrics to help understand our load, such as Operation Count.  When doing manual load testing, we can watch this custom metric and see how busy the server becomes when submitting larger requests.

When adding metrics to my Azure Load Test, I can see the "out of the box" metrics for my Application Insights instance.  But, the custom metrics are not available.  Would

[2022-05-17 17:33] WeiWang120 opened #80 "[Feature Request] Support server-side metrics as a pass/failure criteria in Azure Pipeline task"
**Is your feature request related to a problem? Please describe.**
Client-side metrics do not provide many options. If we can define pass/failure criteria by using server-side metrics such as average CPU percentage would be very helpful!

**Describe the solution you'd like**
Make server-side metrics available in azure pipelines

[2022-05-17 18:32] jimcomiskey opened #81 "Configure JMeter Worker Log Level"
When reviewing test results, I'd like to be able to look at detailed logs.  Some of those logs are at Debug or Informational level, but it appears that when the test is run in Azure Load Testing, the level is locked at Warning.

It would be helpful if the log level were a configurable option so that we could drop down into the Information/Debug levels when necessary.

My workaround, when writing c

[2022-05-17 18:43] #81 closed

[2022-05-17 18:43] jimcomiskey commented on #81
I just realized this request is already in the list of requests, so I'll cancel this one.

[2022-05-18 06:06] dewolfs commented on #3
Hi @johnsta, being able to use the Azure Load Testing capabilities on endpoints which are hosted on internal networks is huge.  This would help a lot of enterprise customers to get insights on the behavior of their application passing through DTAP environments.  Load Testing is on the critical path before a GO-LIVE of an application.  Can you provide any feedback on what direction this is heading?

[2022-05-19 05:19] VasanthMuniswamy commented on #76
Thanks @ninallam

[2022-05-19 05:20] ninallam commented on #80
@WeiWang120 thanks for your feedback. We will add this to our roadmap.

[2022-05-19 06:50] ninallam commented on #79
Hi @jimcomiskey you should be able to view custom metrics as well in the test run dashboard. Once you add the App insights resource to your App components, you can configure the metrics you want to see as shown below.
![image](https://user-images.githubusercontent.com/50437471/169228473-4a5151db-ddc5-40ba-95aa-74239b8e1e94.png). Please let us know if this works for you.

[2022-05-19 07:13] ninallam commented on #75
@cijuvargeeseNeu thanks for reporting this issue. We will fix this and get back to you.

[2022-05-19 07:20] ninallam commented on #78
@Ethan033100 thanks for reaching out. Are you still facing an issue while creating the test?

[2022-05-19 16:41] jimcomiskey commented on #79
Hi @ninallam , I can add App Insights to my Test, but when I go to select Metrics, I only see metrics found under Application Insights Standard Metrics.  I cannot access Custom Metrics which I have developed for tracking the system load.

These are available in Azure Load Testing:

![image](https://user-images.githubusercontent.com/6228438/169353208-6cc0a940-f822-4e50-95a4-f50123c93e9f.png)

These

[2022-05-20 18:55] pwalecha commented on #63
Is there a plan for supporting generating load from configurable Azure locations?

[2022-05-24 15:10] MonikaReddy-MSFT opened #82 "[Feature Request] Support System Properties"
Is there a planned update to support this? I was previously using OctoPerf to test an MTLS-secured service and it was working fine, uploading and specifying a keystore (PFX) through system properties. It feels like this is a pretty obvious use case, and I would love to leverage azure's load test instead.

[2022-05-25 05:01] ninallam commented on #82
Hi @MonikaReddy-MSFT thanks for reaching out. This feature is on our roadmap and we'll let you know once it is available.
cc: @Nagarjuna-Vipparthi

[2022-05-26 05:33] krishna1s commented on #79
Hi @jimcomiskey can you share the screenshot of Configure metrics screen, are you able to see your custom metrics namespace in the Metric Namespace dropdown?

[2022-06-03 16:33] ninallam commented on #79
@jimcomiskey can you please confirm the above?

[2022-06-03 16:34] ninallam commented on #78
@Ethan033100 can you please confirm if this issue still exists?

[2022-06-06 04:38] ninallam commented on #78
Closing this because of no response. @Ethan033100 please reopen if it is still not working.

[2022-06-06 04:38] #78 closed

[2022-06-06 04:39] ninallam commented on #79
Closing this because of no response. @jimcomiskey please reopen if you are still facing this issue.

[2022-06-06 04:39] #79 closed

[2022-06-07 07:50] TheNiron opened #83 "[Feature Request] Download a CSV created from tests"
**Is your feature request related to a problem? Please describe.**
In my tests I am generating a custom CSV file with the information gathered. I need to download this file after running the tests.

**Describe the solution you'd like**
Include the file in the downloads. I'm not sure if there's a way to download this kind of file already. would like to know if there's any.

**Describe alternatives

[2022-06-09 17:33] jimcomiskey opened #84 "Support for Azure Monitor Custom Metrics?"
**Unable to re-open my previous issue, so I am submitting again with more information requested.**

We have implemented some custom metrics to help understand our load, such as Operation Count. When doing manual load testing, we can watch this custom metric and see how busy the server becomes when submitting larger requests.

When adding metrics to my Azure Load Test, I can see the "out of the box

[2022-06-09 17:39] jimcomiskey commented on #84
To respond to the question in the previously closed Issue:

![image](https://user-images.githubusercontent.com/6228438/172909545-0d7a68a3-4ddc-4f6f-9157-ba874ef195b1.png)
I am able to see azure.applicationinsights namespace.  That seems to be where my custom metrics reside.  I can see them in Application Insights, but I cannot see them when using the Configure Metrics screen.

These metrics fall u

[2022-06-10 04:02] ninallam commented on #84
@krishna1s can you please take a look at this?

[2022-06-13 05:31] ninallam commented on #84
Hi @jimcomiskey can you please send an email to azloadfeedback@microsoft.com so that we can set up some time with you to debug this?

[2022-06-13 09:48] #70 closed

[2022-06-14 08:26] agrawalamit31 commented on #37
@[ninallam](https://github.com/ninallam) - Any update for this feature ?

[2022-06-14 11:28] nilsgaeq opened #85 "[BUG] Pipeline with secrets with special chars does not work"
**Describe the bug**
Using `AzureLoadTest@1` task with secrets fails with `##[error]Invalid secrets` when the secret value contains "special" characters like `:` and `.`. This goes both for secrets referenced in variable group linked to azure keyvault  and secrets defined as pipeline variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create pipeline using `AzureLoadTest@1` task
2. Def

[2022-06-14 13:22] nilsgaeq opened #86 "[BUG] Pipeline with yaml config with secret uris does not work"
**Describe the bug**
Using `AzureLoadTest@1` task in azure devops, setting up yaml configuration as described in https://docs.microsoft.com/en-us/azure/load-testing/reference-test-config-yaml, the task fails with `##[error]Invalid secret url`. Setting up the same config in azure portal, and downloading the input file, yields exact same configuration

**To Reproduce**
Steps to reproduce the behavio

[2022-06-16 11:27] abranj1219 commented on #85
Thanks for reporting this. We will check this and get back to you!!

[2022-06-16 11:27] abranj1219 commented on #86
Thanks for reporting this. We will check this and get back to you!!

[2022-06-16 15:58] sreedharputtaguntaus commented on #86
I have the same issue. Followed the steps exactly as described in the documentation and also the Load Test Resource has access to the key vault secrets but it is failing in the pipeline saying, "Invalid Secret Url"

[2022-06-16 16:12] sreedharputtaguntaus commented on #61
@ninallam @kusweta I'm facing the same issue. Despite having the secret url as described in the documentation, I'm getting the Invalid Secret Url error in pipelines. Can either of you help me on this?

[2022-06-17 20:37] wesbrown12 commented on #3
@johnsta - is there anything new to enable Azure Load Testing on a private IP range?

[2022-06-21 00:14] camandrewz opened #87 "AccessLogSampler can't find Log File"
I am attempting to use JMeter's AccessLogSampler plugin, but I am running into issues with finding my log file. I have uploaded both the test script as well as the log file, and I am only specifying the filename without the path. Is there something I'm missing?

AB#1557751

[2022-06-21 11:50] radhikajain99 commented on #84
@jimcomiskey @ninallam This issue has been fixed now. Please let us in case of any issues.

[2022-06-21 11:50] #84 closed

[2022-06-22 05:57] ninallam commented on #85
@nilsgaeq we have fixed this issue. Can you please confirm if it is working?

[2022-06-23 06:06] Sachid26 commented on #87
Thank you for reporting this issue. We will look and get back on this.

[2022-06-23 06:47] nilsgaeq commented on #85
It does work now, thanks. But it appears that using secrets from keyvault cause the output of what little reporting there is being obfuscated (even the link to the run in the portal), so at it's current state, it does not provide anything that can be inspected in the pipeline itself. Only way to inspect the results is to go into azure portal and navigate to the run from there.

[2022-06-23 07:04] Sachid26 commented on #83
Thank you for reporting this. can you help with the scenario you are trying to do and what steps have you done to achieve this?

[2022-06-23 07:10] Sachid26 commented on #62
can you check if this is working for you now?

[2022-06-23 07:12] TheNiron commented on #83
@Sachid26 sure. Inside the tests, I'm creating a .csv file with the data I have collected. I want to download this .csv file after executing the tests.

[2022-06-23 07:14] Sachid26 commented on #66
Hi @FreFre .. we have recently rolled out the private preview for running custom plugins with the Azure load testing service. Would you like to be onboarded and try out your scenario?

[2022-06-23 07:18] Sachid26 commented on #69
Thank you for reporting this. We will check back on the feasibility and inform back.

[2022-06-23 07:20] ninallam commented on #69
@SubhrantC Thanks for the feedback. we have added this to our backlog. We will prioritize and let you know once it is available.

[2022-06-23 07:23] Sachid26 commented on #83
can you share the JMX script you are using if it is possible?

[2022-06-23 07:43] TheNiron commented on #83
@Sachid26  https://drive.google.com/file/d/1CKOTc6smn1Rb1LKGaT8zQX0vHVykLzEF/view?usp=sharing

[2022-06-24 11:07] ninallam commented on #85
@nilsgaeq are you not able to see the test run results in the pipeline logs?

[2022-06-24 11:17] nilsgaeq commented on #85
It is partially obfuscated. Not sure what causes this, but a colleague suggested the keyvault secret variable integration caused this. So it does not yield any useful information. E.g:

[code]

[2022-06-24 11:19] ninallam commented on #85
Is the portal URL not correct as well? Is it possible to send a screenshot of the entire output? Also, could you confirm if you are running from Azure Pipelines?

[2022-06-24 11:20] nilsgaeq commented on #85
That's correct. The url is also obfuscated. It is run in an Azure Devops Pipeline.

[2022-06-28 05:48] #56 closed

[2022-06-28 05:48] issacnitin commented on #56
Closing the issue as no new reports since March

[2022-06-28 16:32] harsh4nature opened #88 "[Feature Request] Pipeline with YAML config doesn't have server-side metrics"
**Is your feature request related to a problem? Please describe.**
There is no way to configure server-side matrics in a YAML file. I can configure it manually in the Azure Load Testing portal but not with a YAML file.
This YAML file is used to execute from the Azure CI/CD pipeline. This is a show stopper for us as server-side matrics have vital information related to the test.

[2022-06-28 16:33] harsh4nature opened #89 "[Feature Request] Load test result publish in Azure DevOps section"
**Describe the solution you'd like**
There is no way to publish test results using Azure Load Testing in Azure DevOps - Release pipeline - Tests section.
So, once the pipeline finishes. I have to go to the Azure portal and check the results. If we can somehow able to publish those results in Azure DevOps - Test Section then it will be consistent and all stakeholders can view it.

[2022-06-29 04:10] ninallam commented on #86
@nilsgaeq @sreedharputtaguntaus We have fixed this issue. Can you please confirm if it is working now?

[2022-06-29 04:43] ninallam commented on #88
@harsh4nature thanks for reaching out. We have added this to our roadmap. We will let you know once this is available.

[2022-06-29 04:46] ninallam commented on #89
@harsh4nature thanks for reaching out. The Azure portal provides rich dashboarding capabilities and integration with server side metrics. Can you help us understand why you would like to view results in Azure DevOps? Is it because all stakeholders would need access to the resource in the portal?

[2022-06-29 04:49] ninallam commented on #85
@nilsgaeq can you please share the screenshot of the output?

[2022-06-30 06:25] TheNiron commented on #83
@Sachid26 any update on this?

[2022-07-04 11:41] ninallam commented on #86
@nilsgaeq @sreedharputtaguntaus Can you please confirm if it is working now?

[2022-07-05 06:59] Sachid26 commented on #83
we are looking into this. We will get back once we find something.

[2022-07-05 12:58] Sachid26 commented on #83
Hi @TheNiron ... looks like we don't support this as of now. Can you try out some plugins that can help you with this. we can add this to our backlog but we will not be able to take this up in the next 6 months.

[2022-07-06 15:27] harsh4nature commented on #89
@ninallam Client doesn't want to give access to Azure Load Testing resource. All team members already have access to Azure DevOps boards. All Unit tests, Integration tests and UI tests are visible in the Tests section but not these performance tests. It will also make it consistent. If someone wants more information then they can ask for access and see the detailed results in the Azure Load Test r

[2022-07-07 10:49] ejerskov commented on #56
This is still happening.

[2022-07-07 12:35] johnAgilisys opened #90 "Pipeline runs successfully but does not publish results (pipeline) or create a test run in Azure Load Testing"
**Describe the bug**
The test results are not published in the CI/CD pipeline. Secondly a test run is also not generated in Azure Load Testing

**To Reproduce**
Steps to reproduce the behavior:
1. Run the pipeline
2. Step execute successfully and runs the load test
3. Test reults arent published to the CI/CD Pipeline
4. Test Run is not generated in the Azure Load Testing (Azure Portal)

Alternativ

[2022-07-08 07:27] LisaKemeling commented on #90
I had this issue yesterday as well.
Also tried a new test and it got stuck while provisioning and failed after about 10 minutes. At some point I got it to run successfully but when trying a new run it succeeded but did not actually run in the portal.
Also existing tests that used to run successfully, failed or succeeded in the pipeline but did not actually run.

[2022-07-08 08:27] johnAgilisys commented on #90
The pipeline is generating results for the test run. What was the issue as I havent changed anything for it to work

[2022-07-08 09:29] ninallam commented on #90
@johnAgilisys @LisaKemeling thanks for reaching out. There were some issues with provisioning in the service during this time. That could be the reason for failure. Can you share the test id so that we can investigate this further? This can be found in the browser URL when you navigate to the test.

[2022-07-08 09:30] johnAgilisys opened #91 "Azure Load Test runs for a minute and then terminates (Help needed)"
**Describe the bug**
Azure Load Test runs for a minute and then terminates

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Azure Portal
2. Click on 'Create a test plan and run the test '

**Expected behavior**
The test should run for the duration specified in the Jmeter (Thread Group) configuration (240Seconds)

**Screenshots**
![image](https://user-images.githubusercontent.com/1023047

[2022-07-08 09:38] johnAgilisys commented on #90
@ninallam -The issue is resolved now and is working as expected.. As you can see in the screenshot it did not provision anything and no test run was created in Azure Load testing

![image](https://user-images.githubusercontent.com/102304772/177964122-72d1354f-4900-44b9-aa2e-2192e2bbb601.png)

[2022-07-08 09:59] LisaKemeling commented on #90
The issue @johnAgilisys mentions seems to be something else indeed, I had that also yesterday. I just ran one of the tests again and now it works fine.

[2022-07-08 10:39] ninallam commented on #90
@radhikajain99 can you please check why does the pipelines task report success even when the test run is not created?

[2022-07-08 11:39] johnAgilisys commented on #91
@ninallam - any inputs into this..not sure if this is an existing feature

[2022-07-08 12:31] ninallam commented on #91
@johnAgilisys Yes, the test should run for the duration specified in the JMX. Can you check if the error rate was very high (>90%) for the 1 min that the test ran for?

[2022-07-08 12:44] johnAgilisys commented on #91
@ninallam - Thanks for the quick response. No errors. Screenshot attached. My test runid is testRunId/ce131c17-8f39-4e15-a0a6-6eb7e8b0c58a

![image](https://user-images.githubusercontent.com/102304772/177994302-ea68200c-1fd8-4ae0-9fee-b59e98500adf.png)

[2022-07-09 22:21] trevor-webster opened #92 "[Feature Request] jmeter results in xml format"
jmeter supports result data saved in xml format. This can capture more data e.g. `jmeter.save.saveservice.response_data` than CSV. (https://jmeter.apache.org/usermanual/properties_reference.html#results_file_config)

Please support this format. Thank you.

[2022-07-18 10:12] mhoult22 opened #93 "Support for JMeter 5.5"
Hi.  Is support for JMeter 5.5 planned?  We've been experimenting with "Open Model Thread Groups" which are only available in JMeter 5.5.  I'd like to see how these work in Azure Load Testing.
Many thanks

[2022-07-18 19:36] adamyager opened #94 "[BUG] MALT Preview - Each time Parameters are changed, VNET settings are removed"
**Describe the bug**
When Changing Paramaters in the portal or deploying in ADO Task, all MALT preview settings are removed and its set to public. Causing all runs to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit test -> "parameters" and "save"
2. See error
![image](https://user-images.githubusercontent.com/52081264/179602880-a01035be-9312-4ae7-a6cf-41fc5168f365.png)

**E

[2022-07-19 05:58] ninallam commented on #85
@nilsgaeq we are closing this issue since we haven't received any response. Please re-open if you are still facing it.

[2022-07-19 05:58] #85 closed

[2022-07-19 05:59] ninallam commented on #86
Closing this since we haven't received any response. Please re-open if you are still facing this.

[2022-07-19 05:59] #86 closed

[2022-07-19 15:08] adamyager commented on #94
@abranj1219 let me know if you want to partner on this we can show you what is happening.

[2022-07-19 17:48] Nagarjuna-Vipparthi commented on #93
@mhoult22 Support for JMeter 5.5 is on our roadmap and we are currently looking into it. Will let you know when we have an ETA.

[2022-07-21 06:40] Sachid26 commented on #87
Closing this issue as we haven't received any response. please reach out in case you run into this issue again.

[2022-07-21 06:40] #87 closed

[2022-07-21 11:25] Nagarjuna-Vipparthi commented on #94
@adamyager We were not able to reproduce the issue. Happy to partner and understand your scenario. Please drop us an email at 'azloadfeedback@microsoft.com'

[2022-07-22 08:20] Sachid26 commented on #6
@pjdf-git ... we have enabled JSR223 support in the service. would you like to test out your scenario

[2022-07-25 04:37] radhikajain99 commented on #90
@ninallam We were not failing the pipeline task in case of validation timeout. The fix for this has been deployed

[2022-07-25 04:37] #90 closed

[2022-07-25 08:13] johnAgilisys commented on #91
@ninallam - Any thoughts on what the issue could be please.

[2022-07-25 09:08] johnAgilisys commented on #89
@ninallam  - Is this being considered for a future release on your roadmap

[2022-07-25 09:11] ninallam commented on #89
@johnAgilisys Thanks for reaching out. This is on our future roadmap and we'll prioritize based on customer demand.

[2022-07-27 20:19] adamyager commented on #94
@Nagarjuna-Vipparthi  sorry for the delay. i just added the engineer that identified the issue to an email thread.
Please work with him as needed.

[2022-07-27 20:49] mattscheunemann commented on #94
For more context. The issue appears in the portal when someone, without the flags that make these settings visible, makes changes to the test. In the event that the flags are set but the person editing does not have permissions, an error is thrown that says the Subnet ID is invalid and no changes to the test are made. (As an aside to this, changes to the files can still be made even if the subnet

[2022-08-02 17:23] TheJayMann commented on #30
Given that it has been stated that plugins from https://jmeter-plugins.org/ are supported, how does one go about enabling any of these plugins?  I tried to run a quick example test which makes use of jpgc-functions and tilln-formman, both of which can be found.  As far as I can tell, custom functions defined in jpgc-functions do not work.  When I replace those functions in the test with hard coded

[2022-08-04 04:08] ninallam commented on #30
@TheJayMann can you please share the test run ID for the test that you tried to run for us to debug?

[2022-08-04 08:22] mhoult22 commented on #93
@Nagarjuna-Vipparthi - Is there a roadmap that you can share a link to please? - so we can see what other features we can expect, and when to expect them in Azure Load Testing?  Something like this: https://docs.microsoft.com/en-us/azure/devops/release-notes/features-timeline.
Many thanks.

[2022-08-04 09:41] TheJayMann commented on #30
I will have to recreate it, but I can before days end.

[2022-08-04 11:46] TheJayMann commented on #30
If I'm not mistaken, the test run ID is 14899b5f-87e8-4cac-8a6d-0f0d61962069.  I'm attempting to make use of the `__env(name,,defaultValue)` function from jpgc-functions to get environment variables.  It does work when I instead use `__groovy( System.getenv("name") ?: "defaultValue" )`, which I found as a workaround some time later.

[2022-08-05 11:56] mhoult22 opened #95 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
I would like to use a function from the "[Custom JMeter Functions](https://jmeter-plugins.org/wiki/Functions/)" plugin in my Azure Load Test.

**Describe the solution you'd like**
In this [blog](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/azure-load-testing-create-tests-faster-distribute-input-data-and/ba-p/3471215) i

[2022-08-09 06:22] ninallam commented on #95
@mhoult22 we support plugins that are on https://jmeter-plugins.org/. If you'd like to upload custom jars then that feature is coming soon.

[2022-08-09 07:52] mhoult22 commented on #95
Hi @ninallam, although it is called "Custom JMeter Functions", it is actually a plugin from https://jmeter-plugins.org/ , the link is https://jmeter-plugins.org/wiki/Functions/ .
If I upload the jar along with the JMeter file should it work, or do I need to do something additional?  I tried uploading the jar along with the jmx but it didn't work for me.  Thanks.

[2022-08-09 08:26] ninallam commented on #95
For plugins in https://jmeter-plugins.org/ you don't need to upload a jar. It should work out of the box. Is this not working for you?

[2022-08-09 09:37] mhoult22 commented on #95
No, it doesn't seem to be working for me.

I have a jmx with a UDV value of `${__env(mythread,,1)}`.  I created this simplified jmx just to test this issue.
![image](https://user-images.githubusercontent.com/67146055/183616516-2013e681-fac2-441a-a122-141126e3233a.png)

If on my Windows laptop I have an environment variable for `mythread` and set a value then JMeter uses that value.
![image](https:

[2022-08-10 03:28] junpark12 commented on #38
Same Here. I tested on azure app service. When i see the average response time metrics on app service, there's delay like 2-3 seconds. But testrun's response time metrics in load test is only 150 millisecond.

[2022-08-10 14:33] PavanMudigondaTR commented on #48
@ninallam I love K6 than JMeter ! It would be awesome to see K6 framework with Azure Load Testing

[2022-08-11 06:53] ninallam commented on #48
@PavanMudigondaTR thanks for the feedback. We have noted the request and will explore how we can support K6.

[2022-08-11 06:57] ninallam commented on #95
@mhoult22 can you please drop an email to azloadfeedback@microsoft.com and we'll help you with this?

[2022-08-11 16:02] nathanhannig opened #96 "[Feature Request] Availability in Azure Government Cloud"
I saw that Azure Load testing is currently in Preview on Azure Commercial.

It looks like a great tool that would benefit Azure Government Cloud as well.

Is it on the future roadmap to bring to Azure Government Cloud?

Thank you.

[2022-08-18 10:34] Nagarjuna-Vipparthi commented on #96
Yes, availability on government clouds is on our future roadmap. However, the focus currently is on expanding to some more regions on the public cloud.

[2022-08-18 15:05] mmosallem opened #97 "Validation failed: Timeout validating the JMX script. Please try uploading the JMX script again."
getting this error when trying to create a test.

**Validation failed
Timeout validating the JMX script. Please try uploading the JMX script again.**

the test is created despite that, but when i try to run test i get another error:

**Failed
Timeout starting the test. Please try running the test again.**

the test runs locally just fine.
attached the jmx file.
[ocs-int-test.zip](https://github.co

[2022-08-19 18:49] mmosallem commented on #97
quick update on this, I had the user defined variables in the test plan element itself as show below
![image](https://user-images.githubusercontent.com/13883021/185687023-38d995e7-96e5-4d81-8bb5-400b9cf5b9cc.png)

Now after removing those variables and adding a new User Defined Variables element with the same variables there, every thing worked just fine!

![image](https://user-images.githubuserco

[2022-08-23 08:58] ninallam commented on #95
Closing this since it was resolved over email.

[2022-08-23 08:58] #95 closed

[2022-08-23 09:45] alexmcgillicuddypd commented on #60
We have the same use case - we would be very keen on this feature being implemented - is there yet an ETA?

[2022-08-25 07:45] kaito-ms commented on #4
VNET injection is available in preview.
https://azure.microsoft.com/en-us/updates/public-preview-microsoft-azure-load-testing-supports-private-endpoints-testing/

[2022-08-29 15:29] mhoult22 opened #98 "[BUG]"
**Describe the bug**
The Load test results "Errors (total)" is incorrect/misleading.
My load test had 5 errors in total, all 504 errors.

![image](https://user-images.githubusercontent.com/67146055/187236398-bbf4fff7-1c86-4553-8020-903f04c93e97.png)
The blue plot line has 0 errors, but is drawn as increasing to 5 the same as the orange plot.
If you hover over the point at the peak it confirms at t

[2022-08-30 07:15] Sachid26 commented on #97
@mmosallem ..  We see that your issue got resolved. can we close this thread?

[2022-08-30 07:17] Sachid26 commented on #98
@mhoult22 ... thanks for reporting this . We shall look at this and get back to you.

[2022-08-30 21:56] mmosallem commented on #97
@Sachid26 Yes.

[2022-08-31 02:11] mmosallem opened #99 "Support for Taurus"
**Is your feature request related to a problem? Please describe.**
Authoring jmeter test scripts depends heavily on using the jmeter GUI, many users adopted Taurus as a more friendly way of authoring jmeter tests using yaml. Currently Azure Load Testing supports running jmeter scripts (jmx files) only. We cannot re-use our existing testing scenarios (writing using taurus yml files)

**Describe the

[2022-09-06 21:54] MaluSiv opened #100 "[Feature Request]Documentation for load testing authenticated applications using Azure AD B2C and Azure AD"
Most of our web applications are authenticated applications. We are using Azure AD and Azure AD B2C for authentication. Could you please provide documentation on creating test scripts for authenticated applications?

[2022-09-07 21:16] paul-cunningham-access commented on #89
Definitely a useful feature, even if it just added into the "Tests" the name of each load test and a link to the report directly.

[2022-09-08 03:09] mmosallem commented on #99
@Sachid26 Yes we have existing taurus yaml scripts that we would like to upload to Azure Load Testing and run them there as we would upload jmx files.

[2022-09-09 06:01] Sachid26 commented on #100
Hi @MaluSiv ... have you tried using environment variables for you used case? you can find the details here https://docs.microsoft.com/en-us/azure/load-testing/how-to-parameterize-load-tests . let us know in case of any problems

[2022-09-12 06:35] issacnitin commented on #94
@adamyager This might've happened when the VNET injection was in private preview, and two portals existed, one without any option and another with both publilc and private option. When you change parameters using the portal without any option, after using the private portal, it might've reverted back to public load test. Could you confirm this is the case, are you still observing the issue?

[2022-09-13 01:38] mmosallem opened #101 "[Feature Request] Provide the ability to choose the "size" of the test engines instances"
**Is your feature request related to a problem? Please describe.**
Some load tests are pretty extensive requiring great amount of memory/cpu. Currently we have a pool of azure virtual machines (size Standard F32s, 32 vcpu, 64 GiB memory) that we use in our load testing.

**Describe the solution you'd like**
The user should have the ability to choose the size (in terms of virtual cpus and memory) f

[2022-09-13 01:51] mmosallem opened #102 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
When creating/editing a test that user can upload csv file(s) that will be used by the jmeter script. By default, Azure Load Testing copies and processes these input files unmodified across all test engine instances, there's an option that you to split the CSV input data evenly across all engine instances. If you have multiple CSV

[2022-09-13 15:14] SlavisaBakicOB opened #103 "[BUG] Option to use private traffic mode is missing in West US 2"
West US 2 Azure Load Testing resource doesn't have option to use private traffic mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Azure Load Testing resource in West US 2 region
2. Create new JMeter test and upload JMX file
3. In Load tab notice that there is no option to use private traffic mode

![image](https://user-images.githubusercontent.com/88879268/189939614-071c26be-0abe

[2022-09-15 10:09] adiazcan commented on #10
Hello! Do you have a plan for this feature on the roadmap? We also use Postman collection for testing our API and we want to use Azure Load Testing to do out load testing.

[2022-09-15 11:45] mmosallem opened #104 "[BUG] Test runs are failing to start"
**Describe the bug**
Multiple test runs are failing to start with generic error:
"There was an issue with the service. Please raise a ticket with support along with the run id of the test."

there's no other information that explains what's going on. This issue started happening yesterday.

**Expected behavior**
The test run should start normally,

**Screenshots**
![image](https://user-images.gith

[2022-09-15 20:08] shobhitkasliwal-onbe commented on #58
@kaumishra  - any update on this?
I am also looking to test the jmeter webdriver sampler to load test UI.

[2022-09-16 08:47] Sachid26 commented on #99
@mmosallem ... We can add this to our backlog, but there is no ETA i can provide at this time.

[2022-09-19 05:16] ninallam commented on #101
@mmosallem Thanks for reaching out. We will add this to our roadmap to support multiple configurations of VMs and provide the choice.

[2022-09-19 05:18] ninallam commented on #102
@mmosallem Thanks for reaching out. We have added this feature to our roadmap. We'll update you once it is available. @Sachid26 FYI.

[2022-09-19 05:27] ninallam commented on #10
@adiazcan Thanks for reaching out. Unfortunately we didn't see many customers asking for this, so we couldn't prioritize it. We'll watch out for more feedback so that we can plan properly.

[2022-09-19 14:34] #97 closed

[2022-09-20 14:26] JSProRail opened #105 "[BUG] FileToString and other functions in JMeter testplan can't find specified file"
**Describe the bug**
For the API I'm testing with my JMeter testplan I am required to pass large jsons in the body data of an HTTP request. Since they are big files I would like to have them seperate from my testplan in source control and load the jsons into the body request when the tesplan is executed. For that I'm using a CSV Data Set Config element with the testcase json names and the function

[2022-09-21 17:53] jcchiang commented on #89
I would like to see this feature too, our team is using Azure Load Test and wish to create a dashboard out of the results, it would be much easier with this feature implemented.

[2022-09-22 07:15] Nagarjuna-Vipparthi commented on #104
@mmosallem Can you please share the IDs of the test runs that failed?

[2022-09-22 07:16] Nagarjuna-Vipparthi commented on #105
@JSProRail Can you please share the Test Run ID for this?

[2022-09-22 09:15] JSProRail commented on #105
@Nagarjuna-Vipparthi  88186b8f-6d53-4d43-bfdd-9a0c91b412d5 if I'm not mistaken

[2022-09-22 10:43] mmosallem commented on #104
/testRunId/a221f5ee-e9dd-4635-829c-882e64b37039/testId/a949d393-a09f-440f-bac9-e800db039c2c
/testRunId/3fb14673-212a-4869-883f-b7b669a0128b/testId/a949d393-a09f-440f-bac9-e800db039c2c
/testRunId/2ff3fb1b-e1f0-4a2a-9184-946dcc968037/testId/a949d393-a09f-440f-bac9-e800db039c2c
/testRunId/abf57c07-08a7-4f29-9b35-7ee572b93039/testId/7573689e-87d4-4217-910b-a0556d82e45c
/testRunId/34f23563-dc3f-4ddf-83

[2022-09-29 09:29] jometzg opened #106 "[BUG] Can't configure private test traffic mode in the portal"
**Describe the bug**
Private test traffic mode (AKA VNet integration) will not configure correctly in the portal.

**To Reproduce**
Steps to reproduce the behavior:
1. Using load test in East US and the target application VNet also in East US
2. After configuring a VNet subnet's NSG with the correct inbound and outbound rules
3. Choose "Private" for Configure test traffic mode under load
4. Select

[2022-09-29 12:45] Sachid26 commented on #105
@JSProRail ... can you try using the command **${__BeanShell(import org.apache.jmeter.services.FileServer; FileServer.getFileServer().getBaseDir();)}${__BeanShell(File.separator)}**/ <filename>this to populate the file path in your JMeter file.

[2022-09-30 05:08] ninallam commented on #82
Hi @MonikaReddy-MSFT Azure Load Testing now supports client certificates. Please checkout this documentation https://learn.microsoft.com/en-us/azure/load-testing/how-to-test-secured-endpoints?tabs=portal#authenticate-with-client-certificates.
I'm closing this feature request. If you face any issues, please raise a new issue of the type bug.

[2022-09-30 05:08] #82 closed

[2022-09-30 15:12] jometzg commented on #106
Having talked to John Stallo, it seems I need to explicitly add myself as "network contributor" to the subscription - it seems even if I am the global administrator.

[2022-10-03 07:29] ninallam commented on #106
@jometzg We have mentioned this in our prerequisites. Please let us know if you are facing any issue. Closing this issue for now.
![image](https://user-images.githubusercontent.com/50437471/193522940-869d5eaf-645c-44a0-8c3e-86055124555d.png)

[2022-10-03 07:29] #106 closed

[2022-10-03 16:29] ntrogh commented on #100
@MaluSiv We have added a new article in the product documentation about testing authenticated endpoints: https://learn.microsoft.com/en-us/azure/load-testing/how-to-test-secured-endpoints?tabs=portal
Does this guidance help you with your scenario?

[2022-10-06 05:06] yogs18 opened #107 "using custom image for azure load testing test engines"
Hello,

we have strict security guidelines to use our own security hardened os image for any activity in azure. So is there a way to use our own OS image / configurations to use as test engines?

[2022-10-06 08:00] JSProRail commented on #105
@Sachid26 That seems to work both locally and on the load testing resource, thank you!

[2022-10-10 07:04] Nagarjuna-Vipparthi commented on #107
@yogs18 Currently, custom images are not supported. However, we are exploring ways to support this in future.

[2022-10-10 07:20] Sachid26 commented on #5
@szymonlngr . we currently support the scenario. You would need to upload your dependency JDBC JAR along with the JMeter script. Closing this for now, Please feel free to open the issue in case the issue persists.

[2022-10-10 07:20] #5 closed

[2022-10-12 10:47] Nagarjuna-Vipparthi commented on #103
@SlavisaBakicOB Azure Load Testing support for Private endpoints is now available in West US 2 as well. You do not have to use the work around suggested above, going forward.

[2022-10-12 18:43] vinodramasubbu commented on #104
I am getting the below error when executing load tests
 "There was an issue with the service. Please raise a ticket with support along with the run id of the test.
![AzureLoadTestFailure](https://user-images.githubusercontent.com/79949043/195422847-1b654da4-faaa-460f-b2f6-0b4b29b8a547.png)

[2022-10-12 18:45] vinodramasubbu commented on #104
I am also getting the below error when running load tests
"There was an issue with the service. Please raise a ticket with support along with the run id "
![AzureLoadTestFailure](https://user-images.githubusercontent.com/79949043/195423340-7e1b200c-bcf5-4512-a344-1db7cd04fb3a.png)
of the test.

[2022-10-13 11:24] issacnitin commented on #104
@mmosallem  The jmx script refers to /root/artifacts/streams/1k.csv that is not avialable in VM. The CSV will be available in /root/artifacts folder. Please update your Jmx script

[2022-10-13 11:25] #104 closed

[2022-10-13 11:28] Nagarjuna-Vipparthi commented on #104
@vinodramasubbu Can you share the test run ID please for us to investigate?

[2022-10-14 01:59] leandrodotec opened #108 "[BUG] Pipeline task returns InvalidPassFailCriteria when yaml has more than 5 failureCriteria"
**Describe the bug**
AzureLoadTest@1 - Azure Load Testing v1 task  fails pipeline with error code: 'InvalidPassFailCriteria' when  failureCriteria contains more than 5 items.

**To Reproduce**
Steps to reproduce the behavior:

pipeline.yml:

[code]

src/HomePage/HomePage.yml:

[code]

result from DevOps pipelines

[code]

**Expected behavior**

Azure load testing task  should allow create/update t

[2022-10-18 05:50] Sachid26 commented on #108
@leandrodotec ... Noted. we will update once we have rectified the issue.

[2022-10-18 16:45] frontegi opened #109 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
Not sure if this is a feature request, or a bug...
When I configure Metrics for a specific VM, I'd like to have, for example , the Cpu Percentage for both "Maximum" and "Average".
It seems that for each Metric, you can only setup one aggregation type.
From the UI I'm able to add both Aggregation and save.
But If I reopen the Config

[2022-10-21 08:24] frontegi opened #110 "[Feature Request] Filtering results -> Aggregate on top, UI enhancement"
**Is your feature request related to a problem? Please describe.**
Test results (live or offline) select by default the first 5 requests.
Many times I'd like to switch to aggregate.
I need to scroll down to find it or use the inline filter.
![image](https://user-images.githubusercontent.com/10157050/197149265-deab3ad0-3e06-4c60-9e69-7de37eb80530.png)

**Describe the solution you'd like**
I'd Like

[2022-10-25 09:45] ninallam commented on #110
@frontegi thanks for your feedback. We prioritize this request and make this change.

[2022-10-25 14:41] Eonasdan opened #111 "[BUG] Cannot create test with Load -> Private traffic mode"
**Describe the bug**
We are attempting to follow [this article](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/load-test-endpoints-with-access-restrictions-using-azure-load/ba-p/3610412). I've created a simple node web app (no code deployed), a load test resource, two vnets and a nat gateway with the public ip prefix deployed to East US. When I try to create a test loading a simple jmx

[2022-10-28 16:45] EricHunsberger opened #112 "Retrieve secrets from Key Vault is failing"
Hi Team,
I've configured a test to pull secrets from Key Vault, however it is failing with: _Unable to find the given secret Correlation ID: <GUID>_

I per the following steps to enable this capability:

- added secrets to KV and added parameters to to the test -[How to parameterize load tests]( https://learn.microsoft.com/en-us/azure/load-testing/how-to-parameterize-load-tests?wt.mc_id=azureporta

[2022-10-28 17:19] EricHunsberger commented on #100
This article was helpful in descripbing how to generate access tokens in JMeter - https://www.vanderveer.io/jmeter-azure-ad-no-plugins/

[2022-10-31 10:20] Nagarjuna-Vipparthi commented on #112
@EricHunsberger Can you please share the test run ID? This will help us debug the issue.
Thank you.

[2022-10-31 10:27] Nagarjuna-Vipparthi commented on #111
@Eonasdan Can you please confirm if you are meeting all the prerequisites mentioned [here](https://learn.microsoft.com/en-us/azure/load-testing/how-to-test-private-endpoint#prerequisites)?

[2022-10-31 12:24] EricHunsberger commented on #112
@Nagarjuna-Vipparthi this is the correlation ID from the error - 51aad157-c189-459d-8d6a-e3c076bdd012

[2022-10-31 15:50] Eonasdan commented on #111
We solved this by giving the load test resource a managed identity and giving that network contrib on the vnet. The docs should be updated to reflect this.

[2022-11-01 09:47] ninallam commented on #109
@frontegi Thanks for the feedback. We are looking into this and will let you know once it is fixed.

[2022-11-01 11:19] Nagarjuna-Vipparthi commented on #111
@Eonasdan Great to know that it is working for you. There was an issue in our service, and it is fixed now. Can you drop the network contributor access to managed identity and check please? Thanks.

[2022-11-02 12:31] tomkerkhove opened #113 "[Feature Request] Provide "Stop" button in run overview in Azure Portal"
**Is your feature request related to a problem? Please describe.**
Make it simpler to stop a test run

**Describe the solution you'd like**
I'd love to have a "Stop" button here in the portal:
![image](https://user-images.githubusercontent.com/4345663/199490121-b9f0e3de-bc9f-4617-84b9-96f209cdc793.png)

**Describe alternatives you've considered**
N/A

**Additional context**
You can go to the test

[2022-11-02 12:33] tomkerkhove opened #114 "[Feature Request] Provide support for selecting metric dimension"
**Is your feature request related to a problem? Please describe.**
Improve reported metrics in test details

**Describe the solution you'd like**
Provide support for selecting metric dimension so that the test metrics can be more scoped to the test target.

For example, when testing workloads on AKS the metrics are shared for all aspects of the cluster while the AKS metrics provide dimensions on w

[2022-11-02 13:19] tomkerkhove opened #115 "[Feature Request] Provide capability to rename test run name"
**Is your feature request related to a problem? Please describe.**
It is hard to figure out what the testing setup is in a given test run when the name is generated and only indicates date/time.

**Describe the solution you'd like**
I'd like to have a way to rename a given test run name to introduce structure in tests

![image](https://user-images.githubusercontent.com/4345663/199499706-0265cc6e-8

[2022-11-02 18:28] VFXpro opened #116 "[Feature Request] - Please rapidly allow more instance so we can get our 50,000 user instead of 11,250."
We cannot go above 45 instances x 250 users :(

(actually, as yesterday, we cannot even go about 1 instance)

This product is definitely not ready for prime time with a limit of 11,250 users.  We will need to rapidly find another service somewhere else since this product has been limited since day one and Microsoft refuses to increase this limit. :(

AB#1664230

[2022-11-02 19:10] Eonasdan commented on #111
@Nagarjuna-Vipparthi I disabled the managed identity on the load test resource and I was able to create a new test with a jmx file and run it successfully. Thanks

[2022-11-02 19:10] #111 closed

[2022-11-03 04:04] Nagarjuna-Vipparthi commented on #116
@VFXpro Can you please share the info message about the limits that you see on the 'Load' tab of the test creation flow? We can suggest next steps based on that.

250 users per engine is a guidance to keep the engines in healthy state. However, depending on your scenario, you may go for higher count as well. Please refer this blogpost for more details - https://techcommunity.microsoft.com/t5/apps-

[2022-11-03 14:27] cathalmchale commented on #112
Having this exact issue. Any info that can be shared on resolving the above appreciated.

[2022-11-03 15:30] cathalmchale commented on #112
So in my case I changed what I called the user defined variable secret. I originally used the same name as the KV secret entry, which included dashes. I simplified this name to "functionKey" and that seemed to resolve this error.

However I then hit another problem - The provided Key Vault reference identity does not have required permission(s) to access the Key Vault. I'm wondering is this proble

[2022-11-04 02:20] VFXpro commented on #116
Hi @Nagarjuna-Vipparthi .  Thanks for your reply.  The problem we have at this specific moment (and Azure support has not responded in 48 hours!!) is that we cannot increase the number of **engine instance higher than 1**.   In the past we were able to increase it to 45... and now we can only use 1.  We URGENTLY needs this problem to be fixed but no one is responding to us.  :(

[2022-11-04 02:21] VFXpro commented on #116
This issue is NOT closed...

[2022-11-04 02:23] VFXpro commented on #116
Here's a screenshot... pretty simple.  Cannot drag or type to increase the number of instance.
Also, we have created different Azure Load Testing service in different regions, EAST US, CENTRAEL US, WEST US and they all the same limit of 1 instance.  Please do something about as soon as possible...  Thanks.
![image](https://user-images.githubusercontent.com/44643864/199871397-73d9f485-8f25-412b-91d

[2022-11-04 04:31] Nagarjuna-Vipparthi commented on #112
@EricHunsberger Can you please check and confirm if you used the same managed identity for the test run and Key vault access? We see an 'Unauthorized Access to keyvault' error message suggesting that the provided Managed Identity does not have permission to access the Key Vault / Secret.

[2022-11-04 04:36] Nagarjuna-Vipparthi commented on #113
@tomkerkhove Thank you for the suggestion. We will explore on ways to improve this experience.

[2022-11-04 04:45] Nagarjuna-Vipparthi commented on #115
@tomkerkhove Thank you for the suggestion. We will ensure that it is easy to identify test runs and to differentiate between test runs while comparing

[2022-11-04 04:50] Nagarjuna-Vipparthi commented on #114
@tomkerkhove Did you explore the 'Configure metrics' option on the test results page? This option gives you a way to customize the server-side metrics that are shown.
https://learn.microsoft.com/en-us/azure/load-testing/how-to-monitor-server-side-metrics

Sharing some screenshots
![image](https://user-images.githubusercontent.com/103505570/199890180-bf946c3d-a835-46d8-9f2b-f113fc056246.png)
![imag

[2022-11-04 05:03] Nagarjuna-Vipparthi commented on #116
@VFXpro We understand the urgency here. Can you please let us know if you have raised a request to increase the limits?

If not, please follow the instructions here to raise a request - https://learn.microsoft.com/en-us/azure/load-testing/resource-limits-quotas-capacity#request-quota-increases

[2022-11-04 05:07] Nagarjuna-Vipparthi commented on #112
@cathalmchale Can you please confirm if in the test creation, you have selected the managed identity that has access to the Key Vault? You can find this option under the 'Parameters' tab

![image](https://user-images.githubusercontent.com/103505570/199892953-7ba73d39-02cb-4064-9098-cc587512c11a.png)

[2022-11-04 07:01] tomkerkhove commented on #114
Yes I did, but the above is the metric namespace and not metric dimensions.

For example, App Service emits CPU % but you can filter it by instance. For Azure API Management and AKS this is important. Getting the used memory on a full AKS cluster vs just one namespace is a totally different view.

You can find all metrics and dimensions on https://learn.microsoft.com/en-us/azure/azure-monitor/esse

[2022-11-04 08:56] cathalmchale commented on #112
Hi @Nagarjuna-Vipparthi I've tried with both System assigned and User-assigned and ensured that these added to the Access Policy in Key Vault. However, I think the issue is probably the fact that our Key Vault isn't public. It's setup like:

![image](https://user-images.githubusercontent.com/146731/199931722-7f521df4-80bf-4715-82ae-7e7a72b0eefb.png)

![image](https://user-images.githubusercontent.

[2022-11-04 12:27] cathalmchale opened #117 "Azure Load Test is not recognized as a trusted resource to bypass Key Vault firewall"
**Describe the bug**
Azure Load Test can access Key Vault, only if setup to allow access from *All public networks*. If Key Vault chooses to limit public access to specific vnets, then Load Test can no longer fetch secrets. This is true even when the "allow trusted Microsoft services" option is selected:

![image](https://user-images.githubusercontent.com/146731/199956780-2e10f8f8-4639-4ed3-94b7-7

[2022-11-04 17:05] VFXpro commented on #116
Yes, I completed 3 separate support requests in the last 3 days...no one ever gets back to me.  Really unsatisfied customer.
________________________________
From: Nagarjuna Vipparthi ***@***.***>
Sent: Friday, November 4, 2022 1:03 AM
To: microsoft/azure-load-testing ***@***.***>
Cc: VFXpro ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azure-load-testing] [Feature Request] - Please r

[2022-11-07 06:25] Nagarjuna-Vipparthi commented on #114
Got it. We will add this to our backlog and explore the best way to support this.

[2022-11-07 06:41] Nagarjuna-Vipparthi commented on #116
@VFXpro Can you please provide the ticket numbers so that we can follow up and help you with the resolution?

[2022-11-07 18:55] EricHunsberger commented on #112
I have the Test (Catalogpage) configured with a System-assigned identity and the "catalogpage" application has Get permissions on the KeyVault.

My KeyVault Networking is set up very much like Cathal's.
- _Allow public access from specific virtual networks and IP Addresses_
- our internal virtual subnets are configured
- _Allow trusted Microsoft services to bypass this firewall_ is enabled

[2022-11-07 20:26] cathalmchale commented on #112
Hi @EricHunsberger , I spent a bit of time root causing this one and it's definitely to do with the non-public KeyVault, rather than there being anything wrong with the Identity assignment or KeyVault access policy. So I went ahead and logged it as a more specific bug #117
Be good if you could comment on that bug as well as sounds like we've the same root cause, manifesting itself with the same er

[2022-11-07 20:37] EricHunsberger commented on #112
Hi Cathal,
Thanks for the update. I'll add my comments to the other issue.

Unfortunately I can't switch my access policy. I'll end up on our Cyber naughty list, lol.
Eric
________________________________
From: Cathal McHale ***@***.***>
Sent: Monday, November 7, 2022 3:26 PM
To: microsoft/azure-load-testing ***@***.***>
Cc: Hunsberger, Eric ***@***.***>; Mention ***@***.***>
Subject: [EXT] Re: [m

[2022-11-08 14:53] VFXpro commented on #116
Thanks for helping resolve this issue right away.

The case number 2211040040006460
It has BEEN MANY DAYS, and no one is doing anything about.  We can't increase the count of instance bigger than 1.
Also, the current limit of 45 instances is ridiculous, this needs to be addresses ASAP.
________________________________
From: Nagarjuna Vipparthi ***@***.***>
Sent: Monday, November 7, 2022 1:41 AM
To

[2022-11-08 16:50] JoeTomkinson opened #118 "[Feature Request] - Ability to add multipart/form-data files to requests"
JMeter (as does PostMan) allows us to attach files to our load test requests as part of a multiform/form-data parameter with a path to the file we want to send.

The only other alternative that I see to perform load testing that has a requirement to also send a csv file attached as form-data is to spin up a VM install JMeter and start to scale it to handle volume demand.

AB#1673195

[2022-11-08 17:18] Nagarjuna-Vipparthi commented on #116
Sure. Will check and get back to you ASAP

[2022-11-08 17:19] Nagarjuna-Vipparthi commented on #116
Sure. Will check and get back to you ASAP

[2022-11-09 21:56] Sachid26 commented on #118
@JoeTomkinson... For the scenario of uploading a file have you tried the scenario locally?

[2022-11-10 08:45] JoeTomkinson commented on #118
Yes

yes, it is possible to do this locally with JMeter - Our scenario is based around IoT devices that send in CSV files as form-data as part of their HTTP Request over our Application Gateway, so for us to volume test the rest of our solution, we need to also send in versions of these CSV files.

I can't see anyway currently to do this with 'Azure Load Testing' I thought at first that we could u

[2022-11-11 08:32] Nagarjuna-Vipparthi commented on #116
The quota limit for engine instances has been increased to 45. Please let us know if you are still facing issues.

[2022-11-15 09:30] Sachid26 commented on #117
Hi @cathalmchale ..currently this is not supported by the service, and we have added this to our backlog. We will report back once we implement this.

[2022-11-15 09:31] Sachid26 commented on #112
Hi @EricHunsberger .. we have added this to our backlog for now and will report back once it is implemented.

[2022-11-16 09:38] mhoult22 commented on #60
I also would like to know if it is possible to access the engine/worker number as a variable.  I have a situation which cannot be solved by CSV splitting, as in my test I have 2 CSV files and I need to ensure the 2nd one isn't split.  For me I need to know what engine I am using.  Thanks.

[2022-11-16 14:12] cathalmchale opened #119 "[Feature Request] Ability to Group tests"
**Is your feature request related to a problem? Please describe.**
Not yet, but as the number of tests grows and the number of different projects that start contributing tests, it'd be nice to be able to group the tests in the Azure Portal.

**Describe the solution you'd like**
I'm thinking of something simple like in Azure DevOps pipelines - ability to put builds into different folders as a means

[2022-11-17 14:27] patmci opened #120 "[BUG] Failing to create Tests using REST API - but can create Load Tests"
**Describe the bug**
I am using an Azure App Registration to create Azure Load Tests. I am able to create a Load Test and retrieve it.
However when I attempt to create a test on that load test using the dataPlaneUri, I am denied access.
My App has scopes for loadtests.read and loadtests.write.

**To Reproduce**
1. Create an Azure app registration
2. Add Apis for loadtests.read and loadtests.write

[2022-11-22 09:22] Sachid26 commented on #120
@patmci... does your app have the required roles? can you refer [this](https://learn.microsoft.com/en-us/azure/load-testing/how-to-assign-roles)

[2022-11-22 09:54] Nagarjuna-Vipparthi commented on #119
@cathalmchale Thank you for reaching out. We will add this to our backlog and explore the possible ways of providing a grouping option

[2022-11-22 09:54] Harshan01 commented on #120
@patmci Can you try generating the access token with scope "https://cnt-prod.loadtesting.azure.com/.default"? I assume the token generated did not use any scope/audience

[2022-11-22 11:04] MetroMarv commented on #73
I struggled with same.

Alternatively you can create the web pages yourself by using the [JMeter CLI](https://jmeter.apache.org/usermanual/get-started.html#non_gui). Download JMeter and execute
[code]

[2022-11-23 10:05] Sachid26 commented on #118
@JoeTomkinson... you may upload the file along with the JMX test plan and in the file path under the file upload tab in the Jmeter test plan you can just specify the file name. Can you run it and confirm if it is working for you?
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAACTgAAAPWCAYAAADObWX0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAALEoAACxKAXd6dE0AAP+lSURBVHhe7P3dT5xnvuf/fu

[2022-11-23 19:59] jmbinger opened #121 "Allow load test to continue when there is a high error rate"
I have set up a load test to test throttling in my service. In this test, I am expecting a high error rate from the throttling service returning HTTP response code 429 for throttled requests. However, when I run the test, it gets cancelled by Azure Load Testing and shows the error "The test was stopped due to a high error rate. Check your script and try again. In case the issue persists, raise a t

[2022-11-24 04:26] DanielLarsenNZ opened #122 "[Feature Request] az CLI support for tests"
**Is your feature request related to a problem? Please describe.**
I would like to be able to automate the running of load tests (without using a CD pipeline).

**Describe the solution you'd like**
az CLI commands to create and run Azure Load Service tests.

**Describe alternatives you've considered**
Could use a GitHub action for this, but I don't really need this in a pipeline at this stage.

AB

[2022-11-24 04:29] DanielLarsenNZ opened #123 "[Feature Request] Ability to run tests across multiple regions"
**Is your feature request related to a problem? Please describe.**
I am testing web application firewall behaviour and would like to be able to send load test traffic from multiple regions/geos.

**Describe the solution you'd like**
The ability to schedule a test to run across multiple regions, each region with its own compute, but with the same test plan.

**Describe alternatives you've considere

[2022-11-24 07:25] tomkerkhove commented on #122
+1

[2022-11-24 07:25] tomkerkhove commented on #121
1

[2022-11-24 10:48] Nagarjuna-Vipparthi commented on #121
@jmbinger Thank you for sharing the feedback. Currently, the tests get aborted if the error rate is >90% for a 60 sec duration. Making the auto-abort configurable is on our roadmap.

[2022-11-24 11:00] Nagarjuna-Vipparthi commented on #122
@DanielLarsenNZ Thank you for sharing your feedback. Az CLI support is on our roadmap.
Meanwhile you can try REST API and SDKs for automation. You can find more details in the links below
API: https://learn.microsoft.com/en-us/rest/api/loadtesting/

JavaScript: https://learn.microsoft.com/en-us/javascript/api/overview/azure/load-testing?view=azure-node-preview

Dotnet: https://learn.microsoft.com/

[2022-11-24 11:01] Nagarjuna-Vipparthi commented on #123
@DanielLarsenNZ Thank you for the feedback. This feature to generate load from multiple regions (geographically distributed load) is on our roadmap.
Meanwhile, you can try running simultaneous tests from multiple regions. Az CLI support is on our roadmap. However, you can try automation using APIs and SDKs

API: https://learn.microsoft.com/en-us/rest/api/loadtesting/

JavaScript: https://learn.mic

[2022-11-24 13:05] cathalmchale opened #124 "[BUG] Azure DevOps task not picking up on already existent test"
**Describe the bug**
Azure DevOps task not picking up on already existent test.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new test manually in the Azure Portal.
2. Create an Azure DevOps pipeline with task to create/run the Azure Load Test.
3. Configure DevOps task with details of the already existent Azure Load Test.
4. Run pipeline and observe that task does not see the exis

[2022-11-24 13:24] MarekLani opened #125 "[BUG] Private Test wont provision"
**Describe the bug**
I have created private test deployed to freshly created vnet with subnet dedicated for ALT with sufficient IP Range (/24 mask running only one engine). It is deployed to North Europe. VNET/subnet has no outbound/inbound restrictions set, it is setup without NSG. (Tested also with "fully opened" NSG). To eliminate problem of internal endpoint not being reachable I configured my

[2022-11-24 13:24] cathalmchale opened #126 "[BUG] Azure DevOps task not setting up ENV and Secrets"
**Describe the bug**
Azure DevOps task not setting up ENV and Secrets.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Azure DevOps pipeline with task to create/run an Azure Load Test.
2. Configure task with some ENV and Secret Json specified.
3. Run pipeline and observe that the created Azure Load Test has no ENV or Secrets configured.
4. Add some ENV and Secret values manually to

[2022-11-24 16:45] Nagarjuna-Vipparthi commented on #125
@MarekLani Can you please share the test run ID for us to debug the issue?
Also, when you tried with public endpoint, did you select the test traffic mode as 'Public'?

[2022-11-24 16:46] Nagarjuna-Vipparthi commented on #124
@cathalmchale Can you please share the test run IDs for us to debug the issue? Thanks

[2022-11-24 16:48] Nagarjuna-Vipparthi commented on #126
@cathalmchale Can you please share the test run IDs for us to debug the issue? Thanks

[2022-11-24 17:08] cathalmchale commented on #124
- 1a1acdbd-821b-44e2-8176-9c6d69b7cbc3
- 098b14f7-ceb1-4e34-a9be-4a1631e131f7
- 442f1a11-fcc3-4c08-bf8d-4cd3cd58fd0b

Then I manually added back in ENV and Secrets to get Pass (should be only difference to 442f1a11-fcc3-4c08-bf8d-4cd3cd58fd0b above):

- 32c22b81-3811-4117-b681-e2841a3041f0

[2022-11-24 17:09] cathalmchale commented on #126
- 1a1acdbd-821b-44e2-8176-9c6d69b7cbc3
- 098b14f7-ceb1-4e34-a9be-4a1631e131f7
- 442f1a11-fcc3-4c08-bf8d-4cd3cd58fd0b

Then I manually added back in ENV and Secrets to get Pass (should be only difference to 442f1a11-fcc3-4c08-bf8d-4cd3cd58fd0b above):

- 32c22b81-3811-4117-b681-e2841a3041f0

[2022-11-24 20:20] DanielLarsenNZ commented on #123
Thanks so much!

[2022-11-24 20:20] #123 closed

[2022-11-24 20:23] DanielLarsenNZ commented on #122
Great! Thank you

[2022-11-25 05:50] tomkerkhove commented on #122
Can we keep this issue open for Azure cli?

[2022-11-25 07:48] MarekLani commented on #125
@Nagarjuna-Vipparthi  Thank you very much for your response! I tried running private test reaching private endpoint first that didn't work, so I tried publicly available endpoint as well and since my network is not restricting public outbound access, I was expecting it to work. Please can you instruct me where to find run id, since I can see only the name of the run.

[2022-11-25 11:34] Nagarjuna-Vipparthi commented on #125
When you click on the test run and open the test results page, you will see a 'Share' option

![image](https://user-images.githubusercontent.com/103505570/203977001-dee0a4a1-565f-4cc3-a9ae-0c6f344161aa.png)

[2022-11-25 11:36] MarekLani commented on #125
I see, thank you here are the details:
/testId/65b0fa68-3f6e-40b2-b7a0-204b10b3b928/
testRunId/878da84f-26f3-45a8-ad37-4533e70b8068

[2022-11-25 13:38] issacnitin commented on #125
@MarekLani From our internal diagnostics, we found that your subscription have Azure Policy restrictions which prevent deployment of public IP. Deployment of Public IP, NSG and Load Balancer is required for private load testing to work. We're working on surfacing this error to end customer. Please fix the policy restrictions to continue using the feature..

[2022-11-25 16:08] MarekLani commented on #125
@issacnitin thank you very much for the explanation! Closing the issue now.

[2022-11-25 16:08] #125 closed

[2022-11-28 09:04] patmci commented on #120
Hi, thanks for this - I can confirm that the App has the contributor role on Load Test

[2022-11-28 09:05] patmci commented on #120
How would I add a scope like this in an Azure App Registration?

[2022-11-29 09:18] ninallam commented on #120
@Harshan01 can you please help with this?

[2022-11-29 15:58] patmci commented on #120
Thanks I got this working. I needed token with a resource of https://management.azure.com/ to create the load test.
As per @Harshan01 I was missing the scope https://cnt-prod.loadtesting.azure.com/.default for the PATCH operation.

So I ended up with 2 tokens, 1 with the resource in the header to get the dataplaneuri from LoadTest and one with the scope in the header using the dataplaneuri to crea

[2022-11-29 15:58] #120 closed